openapi: 3.0.1
info:
  title: Identity.DirectoryManagement
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /administrativeUnits:
    get:
      tags:
        - administrativeUnits.administrativeUnit
      summary: Get entities from administrativeUnits
      operationId: administrativeUnits.administrativeUnit_ListAdministrativeUnit
      parameters:
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://developer.microsoft.com/en-us/office/blogs/microsoft-graph-advanced-queries-for-directory-objects-are-now-generally-available/'
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - visibility
                - visibility desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - visibility
                - members
                - scopedRoleMembers
                - extensions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - members
                - scopedRoleMembers
                - extensions
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.administrativeUnitCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - administrativeUnits.administrativeUnit
      summary: Add new entity to administrativeUnits
      operationId: administrativeUnits.administrativeUnit_CreateAdministrativeUnit
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}':
    get:
      tags:
        - administrativeUnits.administrativeUnit
      summary: Get entity from administrativeUnits by key
      operationId: administrativeUnits.administrativeUnit_GetAdministrativeUnit
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://developer.microsoft.com/en-us/office/blogs/microsoft-graph-advanced-queries-for-directory-objects-are-now-generally-available/'
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - visibility
                - members
                - scopedRoleMembers
                - extensions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - members
                - scopedRoleMembers
                - extensions
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
          links:
            members:
              operationId: administrativeUnits.ListMembers
              parameters:
                administrativeUnit-id: $request.path.administrativeUnit-id
            scopedRoleMembers:
              operationId: administrativeUnits.ListScopedRoleMembers
              parameters:
                administrativeUnit-id: $request.path.administrativeUnit-id
            extensions:
              operationId: administrativeUnits.ListExtensions
              parameters:
                administrativeUnit-id: $request.path.administrativeUnit-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - administrativeUnits.administrativeUnit
      summary: Update entity in administrativeUnits
      operationId: administrativeUnits.administrativeUnit_UpdateAdministrativeUnit
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - administrativeUnits.administrativeUnit
      summary: Delete entity from administrativeUnits
      operationId: administrativeUnits.administrativeUnit_DeleteAdministrativeUnit
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}/extensions':
    get:
      tags:
        - administrativeUnits.extension
      summary: Get extensions from administrativeUnits
      operationId: administrativeUnits_ListExtensions
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.extensionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - administrativeUnits.extension
      summary: Create new navigation property to extensions for administrativeUnits
      operationId: administrativeUnits_CreateExtensions
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}/extensions/{extension-id}':
    get:
      tags:
        - administrativeUnits.extension
      summary: Get extensions from administrativeUnits
      operationId: administrativeUnits_GetExtensions
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - administrativeUnits.extension
      summary: Update the navigation property extensions in administrativeUnits
      operationId: administrativeUnits_UpdateExtensions
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - administrativeUnits.extension
      summary: Delete navigation property extensions for administrativeUnits
      operationId: administrativeUnits_DeleteExtensions
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}/members':
    get:
      tags:
        - administrativeUnits.directoryObject
      summary: Get members from administrativeUnits
      operationId: administrativeUnits_ListMembers
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}/members/{directoryObject-id}':
    get:
      tags:
        - administrativeUnits.directoryObject
      summary: Get members from administrativeUnits
      operationId: administrativeUnits_GetMembers
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}/microsoft.graph.checkMemberGroups':
    post:
      tags:
        - administrativeUnits.Actions
      summary: Invoke action checkMemberGroups
      operationId: administrativeUnits_checkMemberGroups
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupIds:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of administrativeUnit
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/administrativeUnits/{administrativeUnit-id}/microsoft.graph.checkMemberObjects':
    post:
      tags:
        - administrativeUnits.Actions
      summary: Invoke action checkMemberObjects
      operationId: administrativeUnits_checkMemberObjects
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of administrativeUnit
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/administrativeUnits/{administrativeUnit-id}/microsoft.graph.getMemberGroups':
    post:
      tags:
        - administrativeUnits.Actions
      summary: Invoke action getMemberGroups
      operationId: administrativeUnits_getMemberGroups
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of administrativeUnit
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/administrativeUnits/{administrativeUnit-id}/microsoft.graph.getMemberObjects':
    post:
      tags:
        - administrativeUnits.Actions
      summary: Invoke action getMemberObjects
      operationId: administrativeUnits_getMemberObjects
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of administrativeUnit
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/administrativeUnits/{administrativeUnit-id}/microsoft.graph.restore':
    post:
      tags:
        - administrativeUnits.Actions
      summary: Invoke action restore
      operationId: administrativeUnits_restore
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/administrativeUnits/{administrativeUnit-id}/scopedRoleMembers':
    get:
      tags:
        - administrativeUnits.scopedRoleMembership
      summary: Get scopedRoleMembers from administrativeUnits
      operationId: administrativeUnits_ListScopedRoleMembers
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - administrativeUnitId
                - administrativeUnitId desc
                - roleId
                - roleId desc
                - roleMemberInfo
                - roleMemberInfo desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - administrativeUnitId
                - roleId
                - roleMemberInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.scopedRoleMembershipCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - administrativeUnits.scopedRoleMembership
      summary: Create new navigation property to scopedRoleMembers for administrativeUnits
      operationId: administrativeUnits_CreateScopedRoleMembers
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}/scopedRoleMembers/{scopedRoleMembership-id}':
    get:
      tags:
        - administrativeUnits.scopedRoleMembership
      summary: Get scopedRoleMembers from administrativeUnits
      operationId: administrativeUnits_GetScopedRoleMembers
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: scopedRoleMembership-id
          in: path
          description: 'key: id of scopedRoleMembership'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: scopedRoleMembership
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - administrativeUnitId
                - roleId
                - roleMemberInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - administrativeUnits.scopedRoleMembership
      summary: Update the navigation property scopedRoleMembers in administrativeUnits
      operationId: administrativeUnits_UpdateScopedRoleMembers
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: scopedRoleMembership-id
          in: path
          description: 'key: id of scopedRoleMembership'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: scopedRoleMembership
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - administrativeUnits.scopedRoleMembership
      summary: Delete navigation property scopedRoleMembers for administrativeUnits
      operationId: administrativeUnits_DeleteScopedRoleMembers
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: scopedRoleMembership-id
          in: path
          description: 'key: id of scopedRoleMembership'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: scopedRoleMembership
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /administrativeUnits/microsoft.graph.delta():
    get:
      tags:
        - administrativeUnits.Functions
      summary: Invoke function delta
      operationId: administrativeUnits_delta
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of administrativeUnit
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /administrativeUnits/microsoft.graph.getByIds:
    post:
      tags:
        - administrativeUnits.Actions
      summary: Invoke action getByIds
      operationId: administrativeUnits_getByIds
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                types:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of administrativeUnit
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /administrativeUnits/microsoft.graph.getUserOwnedObjects:
    post:
      tags:
        - administrativeUnits.Actions
      summary: Invoke action getUserOwnedObjects
      operationId: administrativeUnits_getUserOwnedObjects
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  nullable: true
                type:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /administrativeUnits/microsoft.graph.validateProperties:
    post:
      tags:
        - administrativeUnits.Actions
      summary: Invoke action validateProperties
      operationId: administrativeUnits_validateProperties
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                entityType:
                  type: string
                  nullable: true
                displayName:
                  type: string
                  nullable: true
                mailNickname:
                  type: string
                  nullable: true
                onBehalfOfUserId:
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
                  format: uuid
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /contacts:
    get:
      tags:
        - contacts.orgContact
      summary: Get entities from contacts
      operationId: contacts.orgContact_ListOrgContact
      parameters:
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://developer.microsoft.com/en-us/office/blogs/microsoft-graph-advanced-queries-for-directory-objects-are-now-generally-available/'
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - addresses
                - addresses desc
                - companyName
                - companyName desc
                - department
                - department desc
                - displayName
                - displayName desc
                - givenName
                - givenName desc
                - jobTitle
                - jobTitle desc
                - mail
                - mail desc
                - mailNickname
                - mailNickname desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesProvisioningErrors
                - onPremisesProvisioningErrors desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - phones
                - phones desc
                - proxyAddresses
                - proxyAddresses desc
                - surname
                - surname desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - addresses
                - companyName
                - department
                - displayName
                - givenName
                - jobTitle
                - mail
                - mailNickname
                - onPremisesLastSyncDateTime
                - onPremisesProvisioningErrors
                - onPremisesSyncEnabled
                - phones
                - proxyAddresses
                - surname
                - directReports
                - manager
                - memberOf
                - transitiveMemberOf
                - transitiveReports
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - directReports
                - manager
                - memberOf
                - transitiveMemberOf
                - transitiveReports
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.orgContactCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - contacts.orgContact
      summary: Add new entity to contacts
      operationId: contacts.orgContact_CreateOrgContact
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.orgContact'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.orgContact'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}':
    get:
      tags:
        - contacts.orgContact
      summary: Get entity from contacts by key
      operationId: contacts.orgContact_GetOrgContact
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://developer.microsoft.com/en-us/office/blogs/microsoft-graph-advanced-queries-for-directory-objects-are-now-generally-available/'
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - addresses
                - companyName
                - department
                - displayName
                - givenName
                - jobTitle
                - mail
                - mailNickname
                - onPremisesLastSyncDateTime
                - onPremisesProvisioningErrors
                - onPremisesSyncEnabled
                - phones
                - proxyAddresses
                - surname
                - directReports
                - manager
                - memberOf
                - transitiveMemberOf
                - transitiveReports
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - directReports
                - manager
                - memberOf
                - transitiveMemberOf
                - transitiveReports
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.orgContact'
          links:
            directReports:
              operationId: contacts.ListDirectReports
              parameters:
                orgContact-id: $request.path.orgContact-id
            manager:
              operationId: contacts.GetManager
              parameters:
                orgContact-id: $request.path.orgContact-id
            memberOf:
              operationId: contacts.ListMemberOf
              parameters:
                orgContact-id: $request.path.orgContact-id
            transitiveMemberOf:
              operationId: contacts.ListTransitiveMemberOf
              parameters:
                orgContact-id: $request.path.orgContact-id
            transitiveReports:
              operationId: contacts.ListTransitiveReports
              parameters:
                orgContact-id: $request.path.orgContact-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - contacts.orgContact
      summary: Update entity in contacts
      operationId: contacts.orgContact_UpdateOrgContact
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.orgContact'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - contacts.orgContact
      summary: Delete entity from contacts
      operationId: contacts.orgContact_DeleteOrgContact
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}/directReports':
    get:
      tags:
        - contacts.directoryObject
      summary: Get directReports from contacts
      operationId: contacts_ListDirectReports
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}/directReports/{directoryObject-id}':
    get:
      tags:
        - contacts.directoryObject
      summary: Get directReports from contacts
      operationId: contacts_GetDirectReports
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}/manager':
    get:
      tags:
        - contacts.directoryObject
      summary: Get manager from contacts
      operationId: contacts_GetManager
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}/memberOf':
    get:
      tags:
        - contacts.directoryObject
      summary: Get memberOf from contacts
      operationId: contacts_ListMemberOf
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}/memberOf/{directoryObject-id}':
    get:
      tags:
        - contacts.directoryObject
      summary: Get memberOf from contacts
      operationId: contacts_GetMemberOf
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}/microsoft.graph.checkMemberGroups':
    post:
      tags:
        - contacts.Actions
      summary: Invoke action checkMemberGroups
      operationId: contacts_checkMemberGroups
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupIds:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of orgContact
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/contacts/{orgContact-id}/microsoft.graph.checkMemberObjects':
    post:
      tags:
        - contacts.Actions
      summary: Invoke action checkMemberObjects
      operationId: contacts_checkMemberObjects
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of orgContact
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/contacts/{orgContact-id}/microsoft.graph.getMemberGroups':
    post:
      tags:
        - contacts.Actions
      summary: Invoke action getMemberGroups
      operationId: contacts_getMemberGroups
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of orgContact
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/contacts/{orgContact-id}/microsoft.graph.getMemberObjects':
    post:
      tags:
        - contacts.Actions
      summary: Invoke action getMemberObjects
      operationId: contacts_getMemberObjects
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of orgContact
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/contacts/{orgContact-id}/microsoft.graph.restore':
    post:
      tags:
        - contacts.Actions
      summary: Invoke action restore
      operationId: contacts_restore
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/contacts/{orgContact-id}/transitiveMemberOf':
    get:
      tags:
        - contacts.directoryObject
      summary: Get transitiveMemberOf from contacts
      operationId: contacts_ListTransitiveMemberOf
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}/transitiveMemberOf/{directoryObject-id}':
    get:
      tags:
        - contacts.directoryObject
      summary: Get transitiveMemberOf from contacts
      operationId: contacts_GetTransitiveMemberOf
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}/transitiveReports':
    get:
      tags:
        - contacts.directoryObject
      summary: Get transitiveReports from contacts
      operationId: contacts_ListTransitiveReports
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}/transitiveReports/{directoryObject-id}':
    get:
      tags:
        - contacts.directoryObject
      summary: Get transitiveReports from contacts
      operationId: contacts_GetTransitiveReports
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /contacts/microsoft.graph.delta():
    get:
      tags:
        - contacts.Functions
      summary: Invoke function delta
      operationId: contacts_delta
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of orgContact
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.orgContact'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /contacts/microsoft.graph.getByIds:
    post:
      tags:
        - contacts.Actions
      summary: Invoke action getByIds
      operationId: contacts_getByIds
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                types:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of orgContact
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /contacts/microsoft.graph.getUserOwnedObjects:
    post:
      tags:
        - contacts.Actions
      summary: Invoke action getUserOwnedObjects
      operationId: contacts_getUserOwnedObjects
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  nullable: true
                type:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /contacts/microsoft.graph.validateProperties:
    post:
      tags:
        - contacts.Actions
      summary: Invoke action validateProperties
      operationId: contacts_validateProperties
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                entityType:
                  type: string
                  nullable: true
                displayName:
                  type: string
                  nullable: true
                mailNickname:
                  type: string
                  nullable: true
                onBehalfOfUserId:
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
                  format: uuid
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /contracts:
    get:
      tags:
        - contracts.contract
      summary: Get entities from contracts
      operationId: contracts.contract_ListContract
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - contractType
                - contractType desc
                - customerId
                - customerId desc
                - defaultDomainName
                - defaultDomainName desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - contractType
                - customerId
                - defaultDomainName
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.contractCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - contracts.contract
      summary: Add new entity to contracts
      operationId: contracts.contract_CreateContract
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contract'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contract'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/contracts/{contract-id}':
    get:
      tags:
        - contracts.contract
      summary: Get entity from contracts by key
      operationId: contracts.contract_GetContract
      parameters:
        - name: contract-id
          in: path
          description: 'key: id of contract'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contract
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - contractType
                - customerId
                - defaultDomainName
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contract'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - contracts.contract
      summary: Update entity in contracts
      operationId: contracts.contract_UpdateContract
      parameters:
        - name: contract-id
          in: path
          description: 'key: id of contract'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contract
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contract'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - contracts.contract
      summary: Delete entity from contracts
      operationId: contracts.contract_DeleteContract
      parameters:
        - name: contract-id
          in: path
          description: 'key: id of contract'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contract
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/contracts/{contract-id}/microsoft.graph.checkMemberGroups':
    post:
      tags:
        - contracts.Actions
      summary: Invoke action checkMemberGroups
      operationId: contracts_checkMemberGroups
      parameters:
        - name: contract-id
          in: path
          description: 'key: id of contract'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contract
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupIds:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of contract
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/contracts/{contract-id}/microsoft.graph.checkMemberObjects':
    post:
      tags:
        - contracts.Actions
      summary: Invoke action checkMemberObjects
      operationId: contracts_checkMemberObjects
      parameters:
        - name: contract-id
          in: path
          description: 'key: id of contract'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contract
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of contract
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/contracts/{contract-id}/microsoft.graph.getMemberGroups':
    post:
      tags:
        - contracts.Actions
      summary: Invoke action getMemberGroups
      operationId: contracts_getMemberGroups
      parameters:
        - name: contract-id
          in: path
          description: 'key: id of contract'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contract
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of contract
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/contracts/{contract-id}/microsoft.graph.getMemberObjects':
    post:
      tags:
        - contracts.Actions
      summary: Invoke action getMemberObjects
      operationId: contracts_getMemberObjects
      parameters:
        - name: contract-id
          in: path
          description: 'key: id of contract'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contract
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of contract
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/contracts/{contract-id}/microsoft.graph.restore':
    post:
      tags:
        - contracts.Actions
      summary: Invoke action restore
      operationId: contracts_restore
      parameters:
        - name: contract-id
          in: path
          description: 'key: id of contract'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contract
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /contracts/microsoft.graph.getByIds:
    post:
      tags:
        - contracts.Actions
      summary: Invoke action getByIds
      operationId: contracts_getByIds
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                types:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of contract
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /contracts/microsoft.graph.getUserOwnedObjects:
    post:
      tags:
        - contracts.Actions
      summary: Invoke action getUserOwnedObjects
      operationId: contracts_getUserOwnedObjects
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  nullable: true
                type:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /contracts/microsoft.graph.validateProperties:
    post:
      tags:
        - contracts.Actions
      summary: Invoke action validateProperties
      operationId: contracts_validateProperties
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                entityType:
                  type: string
                  nullable: true
                displayName:
                  type: string
                  nullable: true
                mailNickname:
                  type: string
                  nullable: true
                onBehalfOfUserId:
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
                  format: uuid
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /devices:
    get:
      tags:
        - devices.device
      summary: Get entities from devices
      operationId: devices.device_ListDevice
      parameters:
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://developer.microsoft.com/en-us/office/blogs/microsoft-graph-advanced-queries-for-directory-objects-are-now-generally-available/'
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - accountEnabled
                - accountEnabled desc
                - alternativeSecurityIds
                - alternativeSecurityIds desc
                - approximateLastSignInDateTime
                - approximateLastSignInDateTime desc
                - complianceExpirationDateTime
                - complianceExpirationDateTime desc
                - deviceCategory
                - deviceCategory desc
                - deviceId
                - deviceId desc
                - deviceMetadata
                - deviceMetadata desc
                - deviceOwnership
                - deviceOwnership desc
                - deviceVersion
                - deviceVersion desc
                - displayName
                - displayName desc
                - domainName
                - domainName desc
                - enrollmentProfileName
                - enrollmentProfileName desc
                - enrollmentType
                - enrollmentType desc
                - extensionAttributes
                - extensionAttributes desc
                - hostnames
                - hostnames desc
                - isCompliant
                - isCompliant desc
                - isManaged
                - isManaged desc
                - isRooted
                - isRooted desc
                - managementType
                - managementType desc
                - mdmAppId
                - mdmAppId desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - operatingSystem
                - operatingSystem desc
                - operatingSystemVersion
                - operatingSystemVersion desc
                - physicalIds
                - physicalIds desc
                - profileType
                - profileType desc
                - registrationDateTime
                - registrationDateTime desc
                - systemLabels
                - systemLabels desc
                - trustType
                - trustType desc
                - kind
                - kind desc
                - manufacturer
                - manufacturer desc
                - model
                - model desc
                - name
                - name desc
                - platform
                - platform desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - alternativeSecurityIds
                - approximateLastSignInDateTime
                - complianceExpirationDateTime
                - deviceCategory
                - deviceId
                - deviceMetadata
                - deviceOwnership
                - deviceVersion
                - displayName
                - domainName
                - enrollmentProfileName
                - enrollmentType
                - extensionAttributes
                - hostnames
                - isCompliant
                - isManaged
                - isRooted
                - managementType
                - mdmAppId
                - onPremisesLastSyncDateTime
                - onPremisesSyncEnabled
                - operatingSystem
                - operatingSystemVersion
                - physicalIds
                - profileType
                - registrationDateTime
                - systemLabels
                - trustType
                - kind
                - manufacturer
                - model
                - name
                - platform
                - status
                - usageRights
                - memberOf
                - registeredOwners
                - registeredUsers
                - transitiveMemberOf
                - extensions
                - commands
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - usageRights
                - memberOf
                - registeredOwners
                - registeredUsers
                - transitiveMemberOf
                - extensions
                - commands
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.deviceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - devices.device
      summary: Add new entity to devices
      operationId: devices.device_CreateDevice
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.device'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.device'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}':
    get:
      tags:
        - devices.device
      summary: Get entity from devices by key
      operationId: devices.device_GetDevice
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://developer.microsoft.com/en-us/office/blogs/microsoft-graph-advanced-queries-for-directory-objects-are-now-generally-available/'
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - alternativeSecurityIds
                - approximateLastSignInDateTime
                - complianceExpirationDateTime
                - deviceCategory
                - deviceId
                - deviceMetadata
                - deviceOwnership
                - deviceVersion
                - displayName
                - domainName
                - enrollmentProfileName
                - enrollmentType
                - extensionAttributes
                - hostnames
                - isCompliant
                - isManaged
                - isRooted
                - managementType
                - mdmAppId
                - onPremisesLastSyncDateTime
                - onPremisesSyncEnabled
                - operatingSystem
                - operatingSystemVersion
                - physicalIds
                - profileType
                - registrationDateTime
                - systemLabels
                - trustType
                - kind
                - manufacturer
                - model
                - name
                - platform
                - status
                - usageRights
                - memberOf
                - registeredOwners
                - registeredUsers
                - transitiveMemberOf
                - extensions
                - commands
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - usageRights
                - memberOf
                - registeredOwners
                - registeredUsers
                - transitiveMemberOf
                - extensions
                - commands
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.device'
          links:
            usageRights:
              operationId: devices.ListUsageRights
              parameters:
                device-id: $request.path.device-id
            memberOf:
              operationId: devices.ListMemberOf
              parameters:
                device-id: $request.path.device-id
            registeredOwners:
              operationId: devices.ListRegisteredOwners
              parameters:
                device-id: $request.path.device-id
            registeredUsers:
              operationId: devices.ListRegisteredUsers
              parameters:
                device-id: $request.path.device-id
            transitiveMemberOf:
              operationId: devices.ListTransitiveMemberOf
              parameters:
                device-id: $request.path.device-id
            extensions:
              operationId: devices.ListExtensions
              parameters:
                device-id: $request.path.device-id
            commands:
              operationId: devices.ListCommands
              parameters:
                device-id: $request.path.device-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - devices.device
      summary: Update entity in devices
      operationId: devices.device_UpdateDevice
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.device'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - devices.device
      summary: Delete entity from devices
      operationId: devices.device_DeleteDevice
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
[...]
