openapi: 3.0.1
info:
  title: Reports
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /auditLogs:
    get:
      tags:
        - auditLogs.auditLogRoot
      summary: Get auditLogs
      operationId: auditLogs.auditLogRoot_GetAuditLogRoot
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - directoryAudits
                - directoryProvisioning
                - provisioning
                - restrictedSignIns
                - signIns
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - directoryAudits
                - directoryProvisioning
                - provisioning
                - restrictedSignIns
                - signIns
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.auditLogRoot'
          links:
            directoryAudits:
              operationId: auditLogs.ListDirectoryAudits
            directoryProvisioning:
              operationId: auditLogs.ListDirectoryProvisioning
            provisioning:
              operationId: auditLogs.ListProvisioning
            restrictedSignIns:
              operationId: auditLogs.ListRestrictedSignIns
            signIns:
              operationId: auditLogs.ListSignIns
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.auditLogRoot
      summary: Update auditLogs
      operationId: auditLogs.auditLogRoot_UpdateAuditLogRoot
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.auditLogRoot'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/directoryAudits:
    get:
      tags:
        - auditLogs.directoryAudit
      summary: Get directoryAudits from auditLogs
      operationId: auditLogs_ListDirectoryAudits
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activityDateTime
                - activityDateTime desc
                - activityDisplayName
                - activityDisplayName desc
                - additionalDetails
                - additionalDetails desc
                - category
                - category desc
                - correlationId
                - correlationId desc
                - initiatedBy
                - initiatedBy desc
                - loggedByService
                - loggedByService desc
                - operationType
                - operationType desc
                - result
                - result desc
                - resultReason
                - resultReason desc
                - targetResources
                - targetResources desc
                - userAgent
                - userAgent desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityDateTime
                - activityDisplayName
                - additionalDetails
                - category
                - correlationId
                - initiatedBy
                - loggedByService
                - operationType
                - result
                - resultReason
                - targetResources
                - userAgent
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.directoryAuditCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.directoryAudit
      summary: Create new navigation property to directoryAudits for auditLogs
      operationId: auditLogs_CreateDirectoryAudits
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/directoryAudits/{directoryAudit-id}':
    get:
      tags:
        - auditLogs.directoryAudit
      summary: Get directoryAudits from auditLogs
      operationId: auditLogs_GetDirectoryAudits
      parameters:
        - name: directoryAudit-id
          in: path
          description: 'key: id of directoryAudit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityDateTime
                - activityDisplayName
                - additionalDetails
                - category
                - correlationId
                - initiatedBy
                - loggedByService
                - operationType
                - result
                - resultReason
                - targetResources
                - userAgent
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.directoryAudit
      summary: Update the navigation property directoryAudits in auditLogs
      operationId: auditLogs_UpdateDirectoryAudits
      parameters:
        - name: directoryAudit-id
          in: path
          description: 'key: id of directoryAudit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.directoryAudit
      summary: Delete navigation property directoryAudits for auditLogs
      operationId: auditLogs_DeleteDirectoryAudits
      parameters:
        - name: directoryAudit-id
          in: path
          description: 'key: id of directoryAudit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/directoryProvisioning:
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get directoryProvisioning from auditLogs
      operationId: auditLogs_ListDirectoryProvisioning
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - action
                - action desc
                - activityDateTime
                - activityDateTime desc
                - changeId
                - changeId desc
                - cycleId
                - cycleId desc
                - durationInMilliseconds
                - durationInMilliseconds desc
                - initiatedBy
                - initiatedBy desc
                - jobId
                - jobId desc
                - modifiedProperties
                - modifiedProperties desc
                - provisioningAction
                - provisioningAction desc
                - provisioningStatusInfo
                - provisioningStatusInfo desc
                - provisioningSteps
                - provisioningSteps desc
                - servicePrincipal
                - servicePrincipal desc
                - sourceIdentity
                - sourceIdentity desc
                - sourceSystem
                - sourceSystem desc
                - statusInfo
                - statusInfo desc
                - targetIdentity
                - targetIdentity desc
                - targetSystem
                - targetSystem desc
                - tenantId
                - tenantId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - action
                - activityDateTime
                - changeId
                - cycleId
                - durationInMilliseconds
                - initiatedBy
                - jobId
                - modifiedProperties
                - provisioningAction
                - provisioningStatusInfo
                - provisioningSteps
                - servicePrincipal
                - sourceIdentity
                - sourceSystem
                - statusInfo
                - targetIdentity
                - targetSystem
                - tenantId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.provisioningObjectSummaryCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Create new navigation property to directoryProvisioning for auditLogs
      operationId: auditLogs_CreateDirectoryProvisioning
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/directoryProvisioning/{provisioningObjectSummary-id}':
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get directoryProvisioning from auditLogs
      operationId: auditLogs_GetDirectoryProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: 'key: id of provisioningObjectSummary'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - action
                - activityDateTime
                - changeId
                - cycleId
                - durationInMilliseconds
                - initiatedBy
                - jobId
                - modifiedProperties
                - provisioningAction
                - provisioningStatusInfo
                - provisioningSteps
                - servicePrincipal
                - sourceIdentity
                - sourceSystem
                - statusInfo
                - targetIdentity
                - targetSystem
                - tenantId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Update the navigation property directoryProvisioning in auditLogs
      operationId: auditLogs_UpdateDirectoryProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: 'key: id of provisioningObjectSummary'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Delete navigation property directoryProvisioning for auditLogs
      operationId: auditLogs_DeleteDirectoryProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: 'key: id of provisioningObjectSummary'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/provisioning:
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get provisioning from auditLogs
      operationId: auditLogs_ListProvisioning
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - action
                - action desc
                - activityDateTime
                - activityDateTime desc
                - changeId
                - changeId desc
                - cycleId
                - cycleId desc
                - durationInMilliseconds
                - durationInMilliseconds desc
                - initiatedBy
                - initiatedBy desc
                - jobId
                - jobId desc
                - modifiedProperties
                - modifiedProperties desc
                - provisioningAction
                - provisioningAction desc
                - provisioningStatusInfo
                - provisioningStatusInfo desc
                - provisioningSteps
                - provisioningSteps desc
                - servicePrincipal
                - servicePrincipal desc
                - sourceIdentity
                - sourceIdentity desc
                - sourceSystem
                - sourceSystem desc
                - statusInfo
                - statusInfo desc
                - targetIdentity
                - targetIdentity desc
                - targetSystem
                - targetSystem desc
                - tenantId
                - tenantId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - action
                - activityDateTime
                - changeId
                - cycleId
                - durationInMilliseconds
                - initiatedBy
                - jobId
                - modifiedProperties
                - provisioningAction
                - provisioningStatusInfo
                - provisioningSteps
                - servicePrincipal
                - sourceIdentity
                - sourceSystem
                - statusInfo
                - targetIdentity
                - targetSystem
                - tenantId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.provisioningObjectSummaryCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Create new navigation property to provisioning for auditLogs
      operationId: auditLogs_CreateProvisioning
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/provisioning/{provisioningObjectSummary-id}':
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get provisioning from auditLogs
      operationId: auditLogs_GetProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: 'key: id of provisioningObjectSummary'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - action
                - activityDateTime
                - changeId
                - cycleId
                - durationInMilliseconds
                - initiatedBy
                - jobId
                - modifiedProperties
                - provisioningAction
                - provisioningStatusInfo
                - provisioningSteps
                - servicePrincipal
                - sourceIdentity
                - sourceSystem
                - statusInfo
                - targetIdentity
                - targetSystem
                - tenantId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Update the navigation property provisioning in auditLogs
      operationId: auditLogs_UpdateProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: 'key: id of provisioningObjectSummary'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Delete navigation property provisioning for auditLogs
      operationId: auditLogs_DeleteProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: 'key: id of provisioningObjectSummary'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/restrictedSignIns:
    get:
      tags:
        - auditLogs.restrictedSignIn
      summary: Get restrictedSignIns from auditLogs
      operationId: auditLogs_ListRestrictedSignIns
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appDisplayName
                - appDisplayName desc
                - appId
                - appId desc
                - appliedConditionalAccessPolicies
                - appliedConditionalAccessPolicies desc
                - authenticationContextClassReferences
                - authenticationContextClassReferences desc
                - authenticationDetails
                - authenticationDetails desc
                - authenticationMethodsUsed
                - authenticationMethodsUsed desc
                - authenticationProcessingDetails
                - authenticationProcessingDetails desc
                - authenticationProtocol
                - authenticationProtocol desc
                - authenticationRequirement
                - authenticationRequirement desc
                - authenticationRequirementPolicies
                - authenticationRequirementPolicies desc
                - autonomousSystemNumber
                - autonomousSystemNumber desc
                - azureResourceId
                - azureResourceId desc
                - clientAppUsed
                - clientAppUsed desc
                - conditionalAccessStatus
                - conditionalAccessStatus desc
                - correlationId
                - correlationId desc
                - createdDateTime
                - createdDateTime desc
                - crossTenantAccessType
                - crossTenantAccessType desc
                - deviceDetail
                - deviceDetail desc
                - federatedCredentialId
                - federatedCredentialId desc
                - flaggedForReview
                - flaggedForReview desc
                - homeTenantId
                - homeTenantId desc
                - homeTenantName
                - homeTenantName desc
                - incomingTokenType
                - incomingTokenType desc
                - ipAddress
                - ipAddress desc
                - ipAddressFromResourceProvider
                - ipAddressFromResourceProvider desc
                - isInteractive
                - isInteractive desc
                - isTenantRestricted
                - isTenantRestricted desc
                - location
                - location desc
                - mfaDetail
                - mfaDetail desc
                - networkLocationDetails
                - networkLocationDetails desc
                - originalRequestId
                - originalRequestId desc
                - privateLinkDetails
                - privateLinkDetails desc
                - processingTimeInMilliseconds
                - processingTimeInMilliseconds desc
                - resourceDisplayName
                - resourceDisplayName desc
                - resourceId
                - resourceId desc
                - resourceServicePrincipalId
                - resourceServicePrincipalId desc
                - resourceTenantId
                - resourceTenantId desc
                - riskDetail
                - riskDetail desc
                - riskEventTypes_v2
                - riskEventTypes_v2 desc
                - riskLevelAggregated
                - riskLevelAggregated desc
                - riskLevelDuringSignIn
                - riskLevelDuringSignIn desc
                - riskState
                - riskState desc
                - servicePrincipalCredentialKeyId
                - servicePrincipalCredentialKeyId desc
                - servicePrincipalCredentialThumbprint
                - servicePrincipalCredentialThumbprint desc
                - servicePrincipalId
                - servicePrincipalId desc
                - servicePrincipalName
                - servicePrincipalName desc
                - sessionLifetimePolicies
                - sessionLifetimePolicies desc
                - signInEventTypes
                - signInEventTypes desc
                - signInIdentifier
                - signInIdentifier desc
                - signInIdentifierType
                - signInIdentifierType desc
                - status
                - status desc
                - tokenIssuerName
                - tokenIssuerName desc
                - tokenIssuerType
                - tokenIssuerType desc
                - uniqueTokenIdentifier
                - uniqueTokenIdentifier desc
                - userAgent
                - userAgent desc
                - userDisplayName
                - userDisplayName desc
                - userId
                - userId desc
                - userPrincipalName
                - userPrincipalName desc
                - userType
                - userType desc
                - targetTenantId
                - targetTenantId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appDisplayName
                - appId
                - appliedConditionalAccessPolicies
                - authenticationContextClassReferences
                - authenticationDetails
                - authenticationMethodsUsed
                - authenticationProcessingDetails
                - authenticationProtocol
                - authenticationRequirement
                - authenticationRequirementPolicies
                - autonomousSystemNumber
                - azureResourceId
                - clientAppUsed
                - conditionalAccessStatus
                - correlationId
                - createdDateTime
                - crossTenantAccessType
                - deviceDetail
                - federatedCredentialId
                - flaggedForReview
                - homeTenantId
                - homeTenantName
                - incomingTokenType
                - ipAddress
                - ipAddressFromResourceProvider
                - isInteractive
                - isTenantRestricted
                - location
                - mfaDetail
                - networkLocationDetails
                - originalRequestId
                - privateLinkDetails
                - processingTimeInMilliseconds
                - resourceDisplayName
                - resourceId
                - resourceServicePrincipalId
                - resourceTenantId
                - riskDetail
                - riskEventTypes_v2
                - riskLevelAggregated
                - riskLevelDuringSignIn
                - riskState
                - servicePrincipalCredentialKeyId
                - servicePrincipalCredentialThumbprint
                - servicePrincipalId
                - servicePrincipalName
                - sessionLifetimePolicies
                - signInEventTypes
                - signInIdentifier
                - signInIdentifierType
                - status
                - tokenIssuerName
                - tokenIssuerType
                - uniqueTokenIdentifier
                - userAgent
                - userDisplayName
                - userId
                - userPrincipalName
                - userType
                - targetTenantId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.restrictedSignInCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.restrictedSignIn
      summary: Create new navigation property to restrictedSignIns for auditLogs
      operationId: auditLogs_CreateRestrictedSignIns
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.restrictedSignIn'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.restrictedSignIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/restrictedSignIns/{restrictedSignIn-id}':
    get:
      tags:
        - auditLogs.restrictedSignIn
      summary: Get restrictedSignIns from auditLogs
      operationId: auditLogs_GetRestrictedSignIns
      parameters:
        - name: restrictedSignIn-id
          in: path
          description: 'key: id of restrictedSignIn'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: restrictedSignIn
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appDisplayName
                - appId
                - appliedConditionalAccessPolicies
                - authenticationContextClassReferences
                - authenticationDetails
                - authenticationMethodsUsed
                - authenticationProcessingDetails
                - authenticationProtocol
                - authenticationRequirement
                - authenticationRequirementPolicies
                - autonomousSystemNumber
                - azureResourceId
                - clientAppUsed
                - conditionalAccessStatus
                - correlationId
                - createdDateTime
                - crossTenantAccessType
                - deviceDetail
                - federatedCredentialId
                - flaggedForReview
                - homeTenantId
                - homeTenantName
                - incomingTokenType
                - ipAddress
                - ipAddressFromResourceProvider
                - isInteractive
                - isTenantRestricted
                - location
                - mfaDetail
                - networkLocationDetails
                - originalRequestId
                - privateLinkDetails
                - processingTimeInMilliseconds
                - resourceDisplayName
                - resourceId
                - resourceServicePrincipalId
                - resourceTenantId
                - riskDetail
                - riskEventTypes_v2
                - riskLevelAggregated
                - riskLevelDuringSignIn
                - riskState
                - servicePrincipalCredentialKeyId
                - servicePrincipalCredentialThumbprint
                - servicePrincipalId
                - servicePrincipalName
                - sessionLifetimePolicies
                - signInEventTypes
                - signInIdentifier
                - signInIdentifierType
                - status
                - tokenIssuerName
                - tokenIssuerType
                - uniqueTokenIdentifier
                - userAgent
                - userDisplayName
                - userId
                - userPrincipalName
                - userType
                - targetTenantId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.restrictedSignIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.restrictedSignIn
      summary: Update the navigation property restrictedSignIns in auditLogs
      operationId: auditLogs_UpdateRestrictedSignIns
      parameters:
        - name: restrictedSignIn-id
          in: path
          description: 'key: id of restrictedSignIn'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: restrictedSignIn
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.restrictedSignIn'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.restrictedSignIn
      summary: Delete navigation property restrictedSignIns for auditLogs
      operationId: auditLogs_DeleteRestrictedSignIns
      parameters:
        - name: restrictedSignIn-id
          in: path
          description: 'key: id of restrictedSignIn'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: restrictedSignIn
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/signIns:
    get:
      tags:
        - auditLogs.signIn
      summary: Get signIns from auditLogs
      operationId: auditLogs_ListSignIns
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appDisplayName
                - appDisplayName desc
                - appId
                - appId desc
                - appliedConditionalAccessPolicies
                - appliedConditionalAccessPolicies desc
                - authenticationContextClassReferences
                - authenticationContextClassReferences desc
                - authenticationDetails
                - authenticationDetails desc
                - authenticationMethodsUsed
                - authenticationMethodsUsed desc
                - authenticationProcessingDetails
                - authenticationProcessingDetails desc
                - authenticationProtocol
                - authenticationProtocol desc
                - authenticationRequirement
                - authenticationRequirement desc
                - authenticationRequirementPolicies
                - authenticationRequirementPolicies desc
                - autonomousSystemNumber
                - autonomousSystemNumber desc
                - azureResourceId
                - azureResourceId desc
                - clientAppUsed
                - clientAppUsed desc
                - conditionalAccessStatus
                - conditionalAccessStatus desc
                - correlationId
                - correlationId desc
                - createdDateTime
                - createdDateTime desc
                - crossTenantAccessType
                - crossTenantAccessType desc
                - deviceDetail
                - deviceDetail desc
                - federatedCredentialId
                - federatedCredentialId desc
                - flaggedForReview
                - flaggedForReview desc
                - homeTenantId
                - homeTenantId desc
                - homeTenantName
                - homeTenantName desc
                - incomingTokenType
                - incomingTokenType desc
                - ipAddress
                - ipAddress desc
                - ipAddressFromResourceProvider
                - ipAddressFromResourceProvider desc
                - isInteractive
                - isInteractive desc
                - isTenantRestricted
                - isTenantRestricted desc
                - location
                - location desc
                - mfaDetail
                - mfaDetail desc
                - networkLocationDetails
                - networkLocationDetails desc
                - originalRequestId
                - originalRequestId desc
                - privateLinkDetails
                - privateLinkDetails desc
                - processingTimeInMilliseconds
                - processingTimeInMilliseconds desc
                - resourceDisplayName
                - resourceDisplayName desc
                - resourceId
                - resourceId desc
                - resourceServicePrincipalId
                - resourceServicePrincipalId desc
                - resourceTenantId
                - resourceTenantId desc
                - riskDetail
                - riskDetail desc
                - riskEventTypes_v2
                - riskEventTypes_v2 desc
                - riskLevelAggregated
                - riskLevelAggregated desc
                - riskLevelDuringSignIn
                - riskLevelDuringSignIn desc
                - riskState
                - riskState desc
                - servicePrincipalCredentialKeyId
                - servicePrincipalCredentialKeyId desc
                - servicePrincipalCredentialThumbprint
                - servicePrincipalCredentialThumbprint desc
                - servicePrincipalId
                - servicePrincipalId desc
                - servicePrincipalName
                - servicePrincipalName desc
                - sessionLifetimePolicies
                - sessionLifetimePolicies desc
                - signInEventTypes
                - signInEventTypes desc
                - signInIdentifier
                - signInIdentifier desc
                - signInIdentifierType
                - signInIdentifierType desc
                - status
                - status desc
                - tokenIssuerName
                - tokenIssuerName desc
                - tokenIssuerType
                - tokenIssuerType desc
                - uniqueTokenIdentifier
                - uniqueTokenIdentifier desc
                - userAgent
                - userAgent desc
                - userDisplayName
                - userDisplayName desc
                - userId
                - userId desc
                - userPrincipalName
                - userPrincipalName desc
                - userType
                - userType desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appDisplayName
                - appId
                - appliedConditionalAccessPolicies
                - authenticationContextClassReferences
                - authenticationDetails
                - authenticationMethodsUsed
                - authenticationProcessingDetails
                - authenticationProtocol
                - authenticationRequirement
                - authenticationRequirementPolicies
                - autonomousSystemNumber
                - azureResourceId
                - clientAppUsed
                - conditionalAccessStatus
                - correlationId
                - createdDateTime
                - crossTenantAccessType
                - deviceDetail
                - federatedCredentialId
                - flaggedForReview
                - homeTenantId
                - homeTenantName
                - incomingTokenType
                - ipAddress
                - ipAddressFromResourceProvider
                - isInteractive
                - isTenantRestricted
                - location
                - mfaDetail
                - networkLocationDetails
                - originalRequestId
                - privateLinkDetails
                - processingTimeInMilliseconds
                - resourceDisplayName
                - resourceId
                - resourceServicePrincipalId
                - resourceTenantId
                - riskDetail
                - riskEventTypes_v2
                - riskLevelAggregated
                - riskLevelDuringSignIn
                - riskState
                - servicePrincipalCredentialKeyId
                - servicePrincipalCredentialThumbprint
                - servicePrincipalId
                - servicePrincipalName
                - sessionLifetimePolicies
                - signInEventTypes
                - signInIdentifier
                - signInIdentifierType
                - status
                - tokenIssuerName
                - tokenIssuerType
                - uniqueTokenIdentifier
                - userAgent
                - userDisplayName
                - userId
                - userPrincipalName
                - userType
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.signInCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.signIn
      summary: Create new navigation property to signIns for auditLogs
      operationId: auditLogs_CreateSignIns
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signIn'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/signIns/{signIn-id}':
    get:
      tags:
        - auditLogs.signIn
      summary: Get signIns from auditLogs
      operationId: auditLogs_GetSignIns
      parameters:
        - name: signIn-id
          in: path
          description: 'key: id of signIn'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: signIn
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appDisplayName
                - appId
                - appliedConditionalAccessPolicies
                - authenticationContextClassReferences
                - authenticationDetails
                - authenticationMethodsUsed
                - authenticationProcessingDetails
                - authenticationProtocol
                - authenticationRequirement
                - authenticationRequirementPolicies
                - autonomousSystemNumber
                - azureResourceId
                - clientAppUsed
                - conditionalAccessStatus
                - correlationId
                - createdDateTime
                - crossTenantAccessType
                - deviceDetail
                - federatedCredentialId
                - flaggedForReview
                - homeTenantId
                - homeTenantName
                - incomingTokenType
                - ipAddress
                - ipAddressFromResourceProvider
                - isInteractive
                - isTenantRestricted
                - location
                - mfaDetail
                - networkLocationDetails
                - originalRequestId
                - privateLinkDetails
                - processingTimeInMilliseconds
                - resourceDisplayName
                - resourceId
                - resourceServicePrincipalId
                - resourceTenantId
                - riskDetail
                - riskEventTypes_v2
                - riskLevelAggregated
                - riskLevelDuringSignIn
                - riskState
                - servicePrincipalCredentialKeyId
                - servicePrincipalCredentialThumbprint
                - servicePrincipalId
                - servicePrincipalName
                - sessionLifetimePolicies
                - signInEventTypes
                - signInIdentifier
                - signInIdentifierType
                - status
                - tokenIssuerName
                - tokenIssuerType
                - uniqueTokenIdentifier
                - userAgent
                - userDisplayName
                - userId
                - userPrincipalName
                - userType
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.signIn
      summary: Update the navigation property signIns in auditLogs
      operationId: auditLogs_UpdateSignIns
      parameters:
        - name: signIn-id
          in: path
          description: 'key: id of signIn'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: signIn
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signIn'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.signIn
      summary: Delete navigation property signIns for auditLogs
      operationId: auditLogs_DeleteSignIns
      parameters:
        - name: signIn-id
          in: path
          description: 'key: id of signIn'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: signIn
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/reports:
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get reports from deviceManagement
      description: Reports singleton
      operationId: deviceManagement_GetReports
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - cachedReportConfigurations
                - exportJobs
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - cachedReportConfigurations
                - exportJobs
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementReports'
          links:
            cachedReportConfigurations:
              operationId: deviceManagement.Reports.ListCachedReportConfigurations
            exportJobs:
              operationId: deviceManagement.Reports.ListExportJobs
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Update the navigation property reports in deviceManagement
      operationId: deviceManagement_UpdateReports
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementReports'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Delete navigation property reports for deviceManagement
      operationId: deviceManagement_DeleteReports
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/reports/cachedReportConfigurations:
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get cachedReportConfigurations from deviceManagement
      description: Entity representing the configuration of a cached report
      operationId: deviceManagement.reports_ListCachedReportConfigurations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - expirationDateTime
                - expirationDateTime desc
                - filter
                - filter desc
                - lastRefreshDateTime
                - lastRefreshDateTime desc
                - metadata
                - metadata desc
                - orderBy
                - orderBy desc
                - reportName
                - reportName desc
                - select
                - select desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - expirationDateTime
                - filter
                - lastRefreshDateTime
                - metadata
                - orderBy
                - reportName
                - select
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.deviceManagementCachedReportConfigurationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Create new navigation property to cachedReportConfigurations for deviceManagement
      operationId: deviceManagement.reports_CreateCachedReportConfigurations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementCachedReportConfiguration'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementCachedReportConfiguration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/reports/cachedReportConfigurations/{deviceManagementCachedReportConfiguration-id}':
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get cachedReportConfigurations from deviceManagement
      description: Entity representing the configuration of a cached report
      operationId: deviceManagement.reports_GetCachedReportConfigurations
      parameters:
        - name: deviceManagementCachedReportConfiguration-id
          in: path
          description: 'key: id of deviceManagementCachedReportConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementCachedReportConfiguration
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - expirationDateTime
                - filter
                - lastRefreshDateTime
                - metadata
                - orderBy
                - reportName
                - select
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementCachedReportConfiguration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Update the navigation property cachedReportConfigurations in deviceManagement
      operationId: deviceManagement.reports_UpdateCachedReportConfigurations
      parameters:
        - name: deviceManagementCachedReportConfiguration-id
          in: path
          description: 'key: id of deviceManagementCachedReportConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementCachedReportConfiguration
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementCachedReportConfiguration'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Delete navigation property cachedReportConfigurations for deviceManagement
      operationId: deviceManagement.reports_DeleteCachedReportConfigurations
      parameters:
        - name: deviceManagementCachedReportConfiguration-id
          in: path
          description: 'key: id of deviceManagementCachedReportConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementCachedReportConfiguration
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/reports/exportJobs:
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get exportJobs from deviceManagement
      description: Entity representing a job to export a report
      operationId: deviceManagement.reports_ListExportJobs
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - expirationDateTime
                - expirationDateTime desc
                - filter
                - filter desc
                - format
                - format desc
                - localizationType
                - localizationType desc
                - reportName
                - reportName desc
                - requestDateTime
                - requestDateTime desc
                - select
                - select desc
                - snapshotId
                - snapshotId desc
                - status
                - status desc
                - url
                - url desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - expirationDateTime
                - filter
                - format
                - localizationType
                - reportName
                - requestDateTime
                - select
                - snapshotId
                - status
                - url
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.deviceManagementExportJobCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Create new navigation property to exportJobs for deviceManagement
      operationId: deviceManagement.reports_CreateExportJobs
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/reports/exportJobs/{deviceManagementExportJob-id}':
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get exportJobs from deviceManagement
      description: Entity representing a job to export a report
      operationId: deviceManagement.reports_GetExportJobs
      parameters:
        - name: deviceManagementExportJob-id
          in: path
          description: 'key: id of deviceManagementExportJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExportJob
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - expirationDateTime
                - filter
                - format
                - localizationType
                - reportName
                - requestDateTime
                - select
                - snapshotId
                - status
                - url
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Update the navigation property exportJobs in deviceManagement
      operationId: deviceManagement.reports_UpdateExportJobs
      parameters:
        - name: deviceManagementExportJob-id
          in: path
          description: 'key: id of deviceManagementExportJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExportJob
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Delete navigation property exportJobs for deviceManagement
      operationId: deviceManagement.reports_DeleteExportJobs
      parameters:
        - name: deviceManagementExportJob-id
          in: path
          description: 'key: id of deviceManagementExportJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExportJob
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports:
    get:
      tags:
        - reports.reportRoot
      summary: Get reports
      operationId: reports.reportRoot_GetReportRoot
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - applicationSignInDetailedSummary
                - authenticationMethods
                - credentialUserRegistrationDetails
                - userCredentialUsageDetails
                - dailyPrintUsageByPrinter
                - dailyPrintUsageByUser
                - dailyPrintUsageSummariesByPrinter
                - dailyPrintUsageSummariesByUser
                - monthlyPrintUsageByPrinter
                - monthlyPrintUsageByUser
                - monthlyPrintUsageSummariesByPrinter
                - monthlyPrintUsageSummariesByUser
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - applicationSignInDetailedSummary
                - authenticationMethods
                - credentialUserRegistrationDetails
                - userCredentialUsageDetails
                - dailyPrintUsageByPrinter
                - dailyPrintUsageByUser
                - dailyPrintUsageSummariesByPrinter
                - dailyPrintUsageSummariesByUser
                - monthlyPrintUsageByPrinter
                - monthlyPrintUsageByUser
                - monthlyPrintUsageSummariesByPrinter
                - monthlyPrintUsageSummariesByUser
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.reportRoot'
          links:
            applicationSignInDetailedSummary:
              operationId: reports.ListApplicationSignInDetailedSummary
            authenticationMethods:
              operationId: reports.GetAuthenticationMethods
            credentialUserRegistrationDetails:
              operationId: reports.ListCredentialUserRegistrationDetails
            userCredentialUsageDetails:
              operationId: reports.ListUserCredentialUsageDetails
            dailyPrintUsageByPrinter:
              operationId: reports.ListDailyPrintUsageByPrinter
            dailyPrintUsageByUser:
              operationId: reports.ListDailyPrintUsageByUser
            dailyPrintUsageSummariesByPrinter:
              operationId: reports.ListDailyPrintUsageSummariesByPrinter
            dailyPrintUsageSummariesByUser:
              operationId: reports.ListDailyPrintUsageSummariesByUser
            monthlyPrintUsageByPrinter:
              operationId: reports.ListMonthlyPrintUsageByPrinter
            monthlyPrintUsageByUser:
              operationId: reports.ListMonthlyPrintUsageByUser
            monthlyPrintUsageSummariesByPrinter:
              operationId: reports.ListMonthlyPrintUsageSummariesByPrinter
            monthlyPrintUsageSummariesByUser:
              operationId: reports.ListMonthlyPrintUsageSummariesByUser
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.reportRoot
      summary: Update reports
      operationId: reports.reportRoot_UpdateReportRoot
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.reportRoot'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports/applicationSignInDetailedSummary:
    get:
      tags:
        - reports.applicationSignInDetailedSummary
      summary: Get applicationSignInDetailedSummary from reports
      operationId: reports_ListApplicationSignInDetailedSummary
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - aggregatedEventDateTime
                - aggregatedEventDateTime desc
                - appDisplayName
                - appDisplayName desc
                - appId
                - appId desc
                - signInCount
                - signInCount desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - aggregatedEventDateTime
                - appDisplayName
                - appId
                - signInCount
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.applicationSignInDetailedSummaryCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - reports.applicationSignInDetailedSummary
      summary: Create new navigation property to applicationSignInDetailedSummary for reports
      operationId: reports_CreateApplicationSignInDetailedSummary
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.applicationSignInDetailedSummary'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.applicationSignInDetailedSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/reports/applicationSignInDetailedSummary/{applicationSignInDetailedSummary-id}':
    get:
      tags:
        - reports.applicationSignInDetailedSummary
      summary: Get applicationSignInDetailedSummary from reports
      operationId: reports_GetApplicationSignInDetailedSummary
      parameters:
        - name: applicationSignInDetailedSummary-id
          in: path
          description: 'key: id of applicationSignInDetailedSummary'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: applicationSignInDetailedSummary
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - aggregatedEventDateTime
                - appDisplayName
                - appId
                - signInCount
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.applicationSignInDetailedSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.applicationSignInDetailedSummary
      summary: Update the navigation property applicationSignInDetailedSummary in reports
      operationId: reports_UpdateApplicationSignInDetailedSummary
      parameters:
        - name: applicationSignInDetailedSummary-id
          in: path
          description: 'key: id of applicationSignInDetailedSummary'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: applicationSignInDetailedSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.applicationSignInDetailedSummary'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - reports.applicationSignInDetailedSummary
      summary: Delete navigation property applicationSignInDetailedSummary for reports
      operationId: reports_DeleteApplicationSignInDetailedSummary
      parameters:
        - name: applicationSignInDetailedSummary-id
          in: path
          description: 'key: id of applicationSignInDetailedSummary'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: applicationSignInDetailedSummary
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports/authenticationMethods:
    get:
      tags:
        - reports.authenticationMethodsRoot
      summary: Get authenticationMethods from reports
      operationId: reports_GetAuthenticationMethods
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - userRegistrationDetails
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - userRegistrationDetails
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationMethodsRoot'
          links:
            userRegistrationDetails:
              operationId: reports.AuthenticationMethods.ListUserRegistrationDetails
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.authenticationMethodsRoot
      summary: Update the navigation property authenticationMethods in reports
      operationId: reports_UpdateAuthenticationMethods
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationMethodsRoot'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - reports.authenticationMethodsRoot
      summary: Delete navigation property authenticationMethods for reports
      operationId: reports_DeleteAuthenticationMethods
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports/authenticationMethods/microsoft.graph.usersRegisteredByFeature():
    get:
      tags:
        - reports.Functions
      summary: Invoke function usersRegisteredByFeature
      operationId: reports.authenticationMethods_usersRegisteredByFeature
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationFeatureSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/authenticationMethods/microsoft.graph.usersRegisteredByFeature(includedUserTypes={includedUserTypes},includedUserRoles={includedUserRoles})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function usersRegisteredByFeature
      operationId: reports.authenticationMethods_usersRegisteredByFeature
      parameters:
        - name: includedUserTypes
          in: path
          description: 'Usage: includedUserTypes={includedUserTypes}'
          required: true
          schema:
            $ref: '#/components/schemas/microsoft.graph.includedUserTypes'
        - name: includedUserRoles
          in: path
          description: 'Usage: includedUserRoles={includedUserRoles}'
          required: true
          schema:
            $ref: '#/components/schemas/microsoft.graph.includedUserRoles'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationFeatureSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/authenticationMethods/microsoft.graph.usersRegisteredByMethod():
    get:
      tags:
        - reports.Functions
      summary: Invoke function usersRegisteredByMethod
      operationId: reports.authenticationMethods_usersRegisteredByMethod
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationMethodSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/authenticationMethods/microsoft.graph.usersRegisteredByMethod(includedUserTypes={includedUserTypes},includedUserRoles={includedUserRoles})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function usersRegisteredByMethod
      operationId: reports.authenticationMethods_usersRegisteredByMethod
      parameters:
        - name: includedUserTypes
          in: path
          description: 'Usage: includedUserTypes={includedUserTypes}'
          required: true
          schema:
            $ref: '#/components/schemas/microsoft.graph.includedUserTypes'
        - name: includedUserRoles
          in: path
          description: 'Usage: includedUserRoles={includedUserRoles}'
          required: true
          schema:
            $ref: '#/components/schemas/microsoft.graph.includedUserRoles'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationMethodSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/authenticationMethods/userRegistrationDetails:
    get:
      tags:
        - reports.authenticationMethodsRoot
      summary: Get userRegistrationDetails from reports
      operationId: reports.authenticationMethods_ListUserRegistrationDetails
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - isMfaCapable
                - isMfaCapable desc
                - isMfaRegistered
                - isMfaRegistered desc
                - isPasswordlessCapable
                - isPasswordlessCapable desc
                - isSsprCapable
                - isSsprCapable desc
                - isSsprEnabled
                - isSsprEnabled desc
                - isSsprRegistered
                - isSsprRegistered desc
                - methodsRegistered
                - methodsRegistered desc
                - userDisplayName
                - userDisplayName desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - isMfaCapable
                - isMfaRegistered
                - isPasswordlessCapable
                - isSsprCapable
                - isSsprEnabled
                - isSsprRegistered
                - methodsRegistered
                - userDisplayName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.userRegistrationDetailsCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - reports.authenticationMethodsRoot
      summary: Create new navigation property to userRegistrationDetails for reports
      operationId: reports.authenticationMethods_CreateUserRegistrationDetails
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userRegistrationDetails'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/reports/authenticationMethods/userRegistrationDetails/{userRegistrationDetails-id}':
    get:
      tags:
        - reports.authenticationMethodsRoot
      summary: Get userRegistrationDetails from reports
      operationId: reports.authenticationMethods_GetUserRegistrationDetails
      parameters:
        - name: userRegistrationDetails-id
          in: path
          description: 'key: id of userRegistrationDetails'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userRegistrationDetails
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - isMfaCapable
                - isMfaRegistered
                - isPasswordlessCapable
                - isSsprCapable
                - isSsprEnabled
                - isSsprRegistered
                - methodsRegistered
                - userDisplayName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.authenticationMethodsRoot
      summary: Update the navigation property userRegistrationDetails in reports
      operationId: reports.authenticationMethods_UpdateUserRegistrationDetails
      parameters:
        - name: userRegistrationDetails-id
          in: path
          description: 'key: id of userRegistrationDetails'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userRegistrationDetails
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userRegistrationDetails'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - reports.authenticationMethodsRoot
      summary: Delete navigation property userRegistrationDetails for reports
      operationId: reports.authenticationMethods_DeleteUserRegistrationDetails
      parameters:
        - name: userRegistrationDetails-id
          in: path
          description: 'key: id of userRegistrationDetails'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userRegistrationDetails
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports/credentialUserRegistrationDetails:
    get:
      tags:
        - reports.credentialUserRegistrationDetails
      summary: Get credentialUserRegistrationDetails from reports
      operationId: reports_ListCredentialUserRegistrationDetails
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - authMethods
                - authMethods desc
                - isCapable
                - isCapable desc
                - isEnabled
                - isEnabled desc
                - isMfaRegistered
                - isMfaRegistered desc
                - isRegistered
                - isRegistered desc
                - userDisplayName
                - userDisplayName desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - authMethods
                - isCapable
                - isEnabled
                - isMfaRegistered
                - isRegistered
                - userDisplayName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.credentialUserRegistrationDetailsCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - reports.credentialUserRegistrationDetails
      summary: Create new navigation property to credentialUserRegistrationDetails for reports
      operationId: reports_CreateCredentialUserRegistrationDetails
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.credentialUserRegistrationDetails'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.credentialUserRegistrationDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/reports/credentialUserRegistrationDetails/{credentialUserRegistrationDetails-id}':
    get:
      tags:
        - reports.credentialUserRegistrationDetails
      summary: Get credentialUserRegistrationDetails from reports
      operationId: reports_GetCredentialUserRegistrationDetails
      parameters:
        - name: credentialUserRegistrationDetails-id
          in: path
          description: 'key: id of credentialUserRegistrationDetails'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: credentialUserRegistrationDetails
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - authMethods
                - isCapable
                - isEnabled
                - isMfaRegistered
                - isRegistered
                - userDisplayName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.credentialUserRegistrationDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.credentialUserRegistrationDetails
[...]
