openapi: 3.0.1
info:
  title: Security
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /security:
    get:
      tags:
        - security.security
      summary: Get security
      operationId: security.security_GetSecurity
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - providerStatus
                - informationProtection
                - attackSimulation
                - alerts
                - cloudAppSecurityProfiles
                - domainSecurityProfiles
                - fileSecurityProfiles
                - hostSecurityProfiles
                - ipSecurityProfiles
                - providerTenantSettings
                - secureScoreControlProfiles
                - secureScores
                - securityActions
                - tiIndicators
                - userSecurityProfiles
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - informationProtection
                - attackSimulation
                - alerts
                - cloudAppSecurityProfiles
                - domainSecurityProfiles
                - fileSecurityProfiles
                - hostSecurityProfiles
                - ipSecurityProfiles
                - providerTenantSettings
                - secureScoreControlProfiles
                - secureScores
                - securityActions
                - tiIndicators
                - userSecurityProfiles
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security'
          links:
            informationProtection:
              operationId: security.GetInformationProtection
            attackSimulation:
              operationId: security.GetAttackSimulation
            alerts:
              operationId: security.ListAlerts
            cloudAppSecurityProfiles:
              operationId: security.ListCloudAppSecurityProfiles
            domainSecurityProfiles:
              operationId: security.ListDomainSecurityProfiles
            fileSecurityProfiles:
              operationId: security.ListFileSecurityProfiles
            hostSecurityProfiles:
              operationId: security.ListHostSecurityProfiles
            ipSecurityProfiles:
              operationId: security.ListIpSecurityProfiles
            providerTenantSettings:
              operationId: security.ListProviderTenantSettings
            secureScoreControlProfiles:
              operationId: security.ListSecureScoreControlProfiles
            secureScores:
              operationId: security.ListSecureScores
            securityActions:
              operationId: security.ListSecurityActions
            tiIndicators:
              operationId: security.ListTiIndicators
            userSecurityProfiles:
              operationId: security.ListUserSecurityProfiles
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.security
      summary: Update security
      operationId: security.security_UpdateSecurity
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/alerts:
    get:
      tags:
        - security.alert
      summary: Get alerts from security
      operationId: security_ListAlerts
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activityGroupName
                - activityGroupName desc
                - alertDetections
                - alertDetections desc
                - assignedTo
                - assignedTo desc
                - azureSubscriptionId
                - azureSubscriptionId desc
                - azureTenantId
                - azureTenantId desc
                - category
                - category desc
                - closedDateTime
                - closedDateTime desc
                - cloudAppStates
                - cloudAppStates desc
                - comments
                - comments desc
                - confidence
                - confidence desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - detectionIds
                - detectionIds desc
                - eventDateTime
                - eventDateTime desc
                - feedback
                - feedback desc
                - fileStates
                - fileStates desc
                - historyStates
                - historyStates desc
                - hostStates
                - hostStates desc
                - incidentIds
                - incidentIds desc
                - investigationSecurityStates
                - investigationSecurityStates desc
                - lastEventDateTime
                - lastEventDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - malwareStates
                - malwareStates desc
                - messageSecurityStates
                - messageSecurityStates desc
                - networkConnections
                - networkConnections desc
                - processes
                - processes desc
                - recommendedActions
                - recommendedActions desc
                - registryKeyStates
                - registryKeyStates desc
                - securityResources
                - securityResources desc
                - severity
                - severity desc
                - sourceMaterials
                - sourceMaterials desc
                - status
                - status desc
                - tags
                - tags desc
                - title
                - title desc
                - triggers
                - triggers desc
                - uriClickSecurityStates
                - uriClickSecurityStates desc
                - userStates
                - userStates desc
                - vendorInformation
                - vendorInformation desc
                - vulnerabilityStates
                - vulnerabilityStates desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityGroupName
                - alertDetections
                - assignedTo
                - azureSubscriptionId
                - azureTenantId
                - category
                - closedDateTime
                - cloudAppStates
                - comments
                - confidence
                - createdDateTime
                - description
                - detectionIds
                - eventDateTime
                - feedback
                - fileStates
                - historyStates
                - hostStates
                - incidentIds
                - investigationSecurityStates
                - lastEventDateTime
                - lastModifiedDateTime
                - malwareStates
                - messageSecurityStates
                - networkConnections
                - processes
                - recommendedActions
                - registryKeyStates
                - securityResources
                - severity
                - sourceMaterials
                - status
                - tags
                - title
                - triggers
                - uriClickSecurityStates
                - userStates
                - vendorInformation
                - vulnerabilityStates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.alertCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.alert
      summary: Create new navigation property to alerts for security
      operationId: security_CreateAlerts
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.alert'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.alert'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/alerts/{alert-id}':
    get:
      tags:
        - security.alert
      summary: Get alerts from security
      operationId: security_GetAlerts
      parameters:
        - name: alert-id
          in: path
          description: 'key: id of alert'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: alert
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityGroupName
                - alertDetections
                - assignedTo
                - azureSubscriptionId
                - azureTenantId
                - category
                - closedDateTime
                - cloudAppStates
                - comments
                - confidence
                - createdDateTime
                - description
                - detectionIds
                - eventDateTime
                - feedback
                - fileStates
                - historyStates
                - hostStates
                - incidentIds
                - investigationSecurityStates
                - lastEventDateTime
                - lastModifiedDateTime
                - malwareStates
                - messageSecurityStates
                - networkConnections
                - processes
                - recommendedActions
                - registryKeyStates
                - securityResources
                - severity
                - sourceMaterials
                - status
                - tags
                - title
                - triggers
                - uriClickSecurityStates
                - userStates
                - vendorInformation
                - vulnerabilityStates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.alert'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.alert
      summary: Update the navigation property alerts in security
      operationId: security_UpdateAlerts
      parameters:
        - name: alert-id
          in: path
          description: 'key: id of alert'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: alert
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.alert'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.alert
      summary: Delete navigation property alerts for security
      operationId: security_DeleteAlerts
      parameters:
        - name: alert-id
          in: path
          description: 'key: id of alert'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: alert
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/alerts/microsoft.graph.updateAlerts:
    post:
      tags:
        - security.Actions
      summary: Invoke action updateAlerts
      operationId: security.alerts_updateAlerts
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.alert'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of alert
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.alert'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /security/attackSimulation:
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get attackSimulation from security
      operationId: security_GetAttackSimulation
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - simulationAutomations
                - simulations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - simulationAutomations
                - simulations
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attackSimulationRoot'
          links:
            simulationAutomations:
              operationId: security.AttackSimulation.ListSimulationAutomations
            simulations:
              operationId: security.AttackSimulation.ListSimulations
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property attackSimulation in security
      operationId: security_UpdateAttackSimulation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attackSimulationRoot'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property attackSimulation for security
      operationId: security_DeleteAttackSimulation
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/simulationAutomations:
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get simulationAutomations from security
      operationId: security.attackSimulation_ListSimulationAutomations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - lastRunDateTime
                - lastRunDateTime desc
                - nextRunDateTime
                - nextRunDateTime desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - lastRunDateTime
                - nextRunDateTime
                - status
                - runs
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - runs
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.simulationAutomationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.attackSimulationRoot
      summary: Create new navigation property to simulationAutomations for security
      operationId: security.attackSimulation_CreateSimulationAutomations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulationAutomation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulationAutomation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/simulationAutomations/{simulationAutomation-id}':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get simulationAutomations from security
      operationId: security.attackSimulation_GetSimulationAutomations
      parameters:
        - name: simulationAutomation-id
          in: path
          description: 'key: id of simulationAutomation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - lastRunDateTime
                - nextRunDateTime
                - status
                - runs
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - runs
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulationAutomation'
          links:
            runs:
              operationId: security.attackSimulation.SimulationAutomations.ListRuns
              parameters:
                simulationAutomation-id: $request.path.simulationAutomation-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property simulationAutomations in security
      operationId: security.attackSimulation_UpdateSimulationAutomations
      parameters:
        - name: simulationAutomation-id
          in: path
          description: 'key: id of simulationAutomation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulationAutomation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property simulationAutomations for security
      operationId: security.attackSimulation_DeleteSimulationAutomations
      parameters:
        - name: simulationAutomation-id
          in: path
          description: 'key: id of simulationAutomation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/simulationAutomations/{simulationAutomation-id}/runs':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get runs from security
      operationId: security.attackSimulation.simulationAutomations_ListRuns
      parameters:
        - name: simulationAutomation-id
          in: path
          description: 'key: id of simulationAutomation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomation
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - endDateTime
                - endDateTime desc
                - simulationId
                - simulationId desc
                - startDateTime
                - startDateTime desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - endDateTime
                - simulationId
                - startDateTime
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.simulationAutomationRunCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.attackSimulationRoot
      summary: Create new navigation property to runs for security
      operationId: security.attackSimulation.simulationAutomations_CreateRuns
      parameters:
        - name: simulationAutomation-id
          in: path
          description: 'key: id of simulationAutomation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomation
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulationAutomationRun'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulationAutomationRun'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/simulationAutomations/{simulationAutomation-id}/runs/{simulationAutomationRun-id}':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get runs from security
      operationId: security.attackSimulation.simulationAutomations_GetRuns
      parameters:
        - name: simulationAutomation-id
          in: path
          description: 'key: id of simulationAutomation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomation
        - name: simulationAutomationRun-id
          in: path
          description: 'key: id of simulationAutomationRun'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomationRun
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - endDateTime
                - simulationId
                - startDateTime
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulationAutomationRun'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property runs in security
      operationId: security.attackSimulation.simulationAutomations_UpdateRuns
      parameters:
        - name: simulationAutomation-id
          in: path
          description: 'key: id of simulationAutomation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomation
        - name: simulationAutomationRun-id
          in: path
          description: 'key: id of simulationAutomationRun'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomationRun
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulationAutomationRun'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property runs for security
      operationId: security.attackSimulation.simulationAutomations_DeleteRuns
      parameters:
        - name: simulationAutomation-id
          in: path
          description: 'key: id of simulationAutomation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomation
        - name: simulationAutomationRun-id
          in: path
          description: 'key: id of simulationAutomationRun'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomationRun
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/simulations:
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get simulations from security
      operationId: security.attackSimulation_ListSimulations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - attackTechnique
                - attackTechnique desc
                - attackType
                - attackType desc
                - automationId
                - automationId desc
                - completionDateTime
                - completionDateTime desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - isAutomated
                - isAutomated desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - launchDateTime
                - launchDateTime desc
                - payloadDeliveryPlatform
                - payloadDeliveryPlatform desc
                - report
                - report desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - attackTechnique
                - attackType
                - automationId
                - completionDateTime
                - createdBy
                - createdDateTime
                - description
                - displayName
                - isAutomated
                - lastModifiedBy
                - lastModifiedDateTime
                - launchDateTime
                - payloadDeliveryPlatform
                - report
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.simulationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.attackSimulationRoot
      summary: Create new navigation property to simulations for security
      operationId: security.attackSimulation_CreateSimulations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/simulations/{simulation-id}':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get simulations from security
      operationId: security.attackSimulation_GetSimulations
      parameters:
        - name: simulation-id
          in: path
          description: 'key: id of simulation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - attackTechnique
                - attackType
                - automationId
                - completionDateTime
                - createdBy
                - createdDateTime
                - description
                - displayName
                - isAutomated
                - lastModifiedBy
                - lastModifiedDateTime
                - launchDateTime
                - payloadDeliveryPlatform
                - report
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property simulations in security
      operationId: security.attackSimulation_UpdateSimulations
      parameters:
        - name: simulation-id
          in: path
          description: 'key: id of simulation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property simulations for security
      operationId: security.attackSimulation_DeleteSimulations
      parameters:
        - name: simulation-id
          in: path
          description: 'key: id of simulation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/cloudAppSecurityProfiles:
    get:
      tags:
        - security.cloudAppSecurityProfile
      summary: Get cloudAppSecurityProfiles from security
      operationId: security_ListCloudAppSecurityProfiles
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - azureSubscriptionId
                - azureSubscriptionId desc
                - azureTenantId
                - azureTenantId desc
                - createdDateTime
                - createdDateTime desc
                - deploymentPackageUrl
                - deploymentPackageUrl desc
                - destinationServiceName
                - destinationServiceName desc
                - isSigned
                - isSigned desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - manifest
                - manifest desc
                - name
                - name desc
                - permissionsRequired
                - permissionsRequired desc
                - platform
                - platform desc
                - policyName
                - policyName desc
                - publisher
                - publisher desc
                - riskScore
                - riskScore desc
                - tags
                - tags desc
                - type
                - type desc
                - vendorInformation
                - vendorInformation desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - azureSubscriptionId
                - azureTenantId
                - createdDateTime
                - deploymentPackageUrl
                - destinationServiceName
                - isSigned
                - lastModifiedDateTime
                - manifest
                - name
                - permissionsRequired
                - platform
                - policyName
                - publisher
                - riskScore
                - tags
                - type
                - vendorInformation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.cloudAppSecurityProfileCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.cloudAppSecurityProfile
      summary: Create new navigation property to cloudAppSecurityProfiles for security
      operationId: security_CreateCloudAppSecurityProfiles
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.cloudAppSecurityProfile'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cloudAppSecurityProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/cloudAppSecurityProfiles/{cloudAppSecurityProfile-id}':
    get:
      tags:
        - security.cloudAppSecurityProfile
      summary: Get cloudAppSecurityProfiles from security
      operationId: security_GetCloudAppSecurityProfiles
      parameters:
        - name: cloudAppSecurityProfile-id
          in: path
          description: 'key: id of cloudAppSecurityProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: cloudAppSecurityProfile
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - azureSubscriptionId
                - azureTenantId
                - createdDateTime
                - deploymentPackageUrl
                - destinationServiceName
                - isSigned
                - lastModifiedDateTime
                - manifest
                - name
                - permissionsRequired
                - platform
                - policyName
                - publisher
                - riskScore
                - tags
                - type
                - vendorInformation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cloudAppSecurityProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.cloudAppSecurityProfile
      summary: Update the navigation property cloudAppSecurityProfiles in security
      operationId: security_UpdateCloudAppSecurityProfiles
      parameters:
        - name: cloudAppSecurityProfile-id
          in: path
          description: 'key: id of cloudAppSecurityProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: cloudAppSecurityProfile
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.cloudAppSecurityProfile'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.cloudAppSecurityProfile
      summary: Delete navigation property cloudAppSecurityProfiles for security
      operationId: security_DeleteCloudAppSecurityProfiles
      parameters:
        - name: cloudAppSecurityProfile-id
          in: path
          description: 'key: id of cloudAppSecurityProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: cloudAppSecurityProfile
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/domainSecurityProfiles:
    get:
      tags:
        - security.domainSecurityProfile
      summary: Get domainSecurityProfiles from security
      operationId: security_ListDomainSecurityProfiles
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activityGroupNames
                - activityGroupNames desc
                - azureSubscriptionId
                - azureSubscriptionId desc
                - azureTenantId
                - azureTenantId desc
                - countHits
                - countHits desc
                - countInOrg
                - countInOrg desc
                - domainCategories
                - domainCategories desc
                - domainRegisteredDateTime
                - domainRegisteredDateTime desc
                - firstSeenDateTime
                - firstSeenDateTime desc
                - lastSeenDateTime
                - lastSeenDateTime desc
                - name
                - name desc
                - registrant
                - registrant desc
                - riskScore
                - riskScore desc
                - tags
                - tags desc
                - vendorInformation
                - vendorInformation desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityGroupNames
                - azureSubscriptionId
                - azureTenantId
                - countHits
                - countInOrg
                - domainCategories
                - domainRegisteredDateTime
                - firstSeenDateTime
                - lastSeenDateTime
                - name
                - registrant
                - riskScore
                - tags
                - vendorInformation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.domainSecurityProfileCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.domainSecurityProfile
      summary: Create new navigation property to domainSecurityProfiles for security
      operationId: security_CreateDomainSecurityProfiles
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.domainSecurityProfile'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.domainSecurityProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/domainSecurityProfiles/{domainSecurityProfile-id}':
    get:
      tags:
        - security.domainSecurityProfile
      summary: Get domainSecurityProfiles from security
      operationId: security_GetDomainSecurityProfiles
      parameters:
        - name: domainSecurityProfile-id
          in: path
          description: 'key: id of domainSecurityProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: domainSecurityProfile
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityGroupNames
                - azureSubscriptionId
                - azureTenantId
                - countHits
                - countInOrg
                - domainCategories
                - domainRegisteredDateTime
                - firstSeenDateTime
                - lastSeenDateTime
                - name
                - registrant
                - riskScore
                - tags
                - vendorInformation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.domainSecurityProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.domainSecurityProfile
      summary: Update the navigation property domainSecurityProfiles in security
      operationId: security_UpdateDomainSecurityProfiles
      parameters:
        - name: domainSecurityProfile-id
          in: path
          description: 'key: id of domainSecurityProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: domainSecurityProfile
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.domainSecurityProfile'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.domainSecurityProfile
      summary: Delete navigation property domainSecurityProfiles for security
      operationId: security_DeleteDomainSecurityProfiles
      parameters:
        - name: domainSecurityProfile-id
          in: path
          description: 'key: id of domainSecurityProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: domainSecurityProfile
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/fileSecurityProfiles:
    get:
      tags:
        - security.fileSecurityProfile
      summary: Get fileSecurityProfiles from security
      operationId: security_ListFileSecurityProfiles
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activityGroupNames
                - activityGroupNames desc
                - azureSubscriptionId
                - azureSubscriptionId desc
                - azureTenantId
                - azureTenantId desc
                - certificateThumbprint
                - certificateThumbprint desc
                - extensions
                - extensions desc
                - fileType
                - fileType desc
                - firstSeenDateTime
                - firstSeenDateTime desc
                - hashes
                - hashes desc
                - lastSeenDateTime
                - lastSeenDateTime desc
                - malwareStates
                - malwareStates desc
                - names
                - names desc
                - riskScore
                - riskScore desc
                - size
                - size desc
                - tags
                - tags desc
                - vendorInformation
                - vendorInformation desc
                - vulnerabilityStates
                - vulnerabilityStates desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityGroupNames
                - azureSubscriptionId
                - azureTenantId
                - certificateThumbprint
                - extensions
                - fileType
                - firstSeenDateTime
                - hashes
                - lastSeenDateTime
                - malwareStates
                - names
                - riskScore
                - size
                - tags
                - vendorInformation
                - vulnerabilityStates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.fileSecurityProfileCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.fileSecurityProfile
      summary: Create new navigation property to fileSecurityProfiles for security
      operationId: security_CreateFileSecurityProfiles
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.fileSecurityProfile'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.fileSecurityProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/fileSecurityProfiles/{fileSecurityProfile-id}':
    get:
      tags:
        - security.fileSecurityProfile
      summary: Get fileSecurityProfiles from security
      operationId: security_GetFileSecurityProfiles
      parameters:
        - name: fileSecurityProfile-id
          in: path
          description: 'key: id of fileSecurityProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: fileSecurityProfile
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityGroupNames
                - azureSubscriptionId
                - azureTenantId
                - certificateThumbprint
                - extensions
                - fileType
                - firstSeenDateTime
                - hashes
                - lastSeenDateTime
                - malwareStates
                - names
                - riskScore
                - size
                - tags
                - vendorInformation
                - vulnerabilityStates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.fileSecurityProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.fileSecurityProfile
      summary: Update the navigation property fileSecurityProfiles in security
      operationId: security_UpdateFileSecurityProfiles
      parameters:
        - name: fileSecurityProfile-id
          in: path
          description: 'key: id of fileSecurityProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: fileSecurityProfile
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.fileSecurityProfile'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.fileSecurityProfile
      summary: Delete navigation property fileSecurityProfiles for security
      operationId: security_DeleteFileSecurityProfiles
      parameters:
        - name: fileSecurityProfile-id
          in: path
          description: 'key: id of fileSecurityProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: fileSecurityProfile
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/hostSecurityProfiles:
    get:
      tags:
        - security.hostSecurityProfile
      summary: Get hostSecurityProfiles from security
      operationId: security_ListHostSecurityProfiles
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - azureSubscriptionId
                - azureSubscriptionId desc
                - azureTenantId
                - azureTenantId desc
                - firstSeenDateTime
                - firstSeenDateTime desc
                - fqdn
                - fqdn desc
                - isAzureAdJoined
                - isAzureAdJoined desc
                - isAzureAdRegistered
                - isAzureAdRegistered desc
                - isHybridAzureDomainJoined
                - isHybridAzureDomainJoined desc
                - lastSeenDateTime
                - lastSeenDateTime desc
                - logonUsers
                - logonUsers desc
                - netBiosName
                - netBiosName desc
                - networkInterfaces
                - networkInterfaces desc
                - os
                - os desc
                - osVersion
                - osVersion desc
                - parentHost
                - parentHost desc
                - relatedHostIds
                - relatedHostIds desc
                - riskScore
                - riskScore desc
                - tags
                - tags desc
                - vendorInformation
                - vendorInformation desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - azureSubscriptionId
                - azureTenantId
                - firstSeenDateTime
                - fqdn
                - isAzureAdJoined
                - isAzureAdRegistered
                - isHybridAzureDomainJoined
                - lastSeenDateTime
                - logonUsers
                - netBiosName
                - networkInterfaces
                - os
                - osVersion
                - parentHost
                - relatedHostIds
                - riskScore
                - tags
                - vendorInformation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.hostSecurityProfileCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.hostSecurityProfile
      summary: Create new navigation property to hostSecurityProfiles for security
      operationId: security_CreateHostSecurityProfiles
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.hostSecurityProfile'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.hostSecurityProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/hostSecurityProfiles/{hostSecurityProfile-id}':
    get:
      tags:
        - security.hostSecurityProfile
      summary: Get hostSecurityProfiles from security
      operationId: security_GetHostSecurityProfiles
      parameters:
        - name: hostSecurityProfile-id
          in: path
          description: 'key: id of hostSecurityProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: hostSecurityProfile
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - azureSubscriptionId
                - azureTenantId
                - firstSeenDateTime
                - fqdn
                - isAzureAdJoined
                - isAzureAdRegistered
                - isHybridAzureDomainJoined
                - lastSeenDateTime
                - logonUsers
                - netBiosName
                - networkInterfaces
                - os
                - osVersion
                - parentHost
                - relatedHostIds
                - riskScore
                - tags
                - vendorInformation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.hostSecurityProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.hostSecurityProfile
      summary: Update the navigation property hostSecurityProfiles in security
      operationId: security_UpdateHostSecurityProfiles
      parameters:
        - name: hostSecurityProfile-id
          in: path
          description: 'key: id of hostSecurityProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: hostSecurityProfile
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.hostSecurityProfile'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.hostSecurityProfile
      summary: Delete navigation property hostSecurityProfiles for security
      operationId: security_DeleteHostSecurityProfiles
      parameters:
        - name: hostSecurityProfile-id
          in: path
          description: 'key: id of hostSecurityProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: hostSecurityProfile
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/informationProtection:
    get:
      tags:
        - security.informationProtection
      summary: Get informationProtection from security
      operationId: security_GetInformationProtection
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - labelPolicySettings
                - sensitivityLabels
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - labelPolicySettings
                - sensitivityLabels
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.informationProtection'
          links:
            labelPolicySettings:
              operationId: security.InformationProtection.GetLabelPolicySettings
            sensitivityLabels:
              operationId: security.InformationProtection.ListSensitivityLabels
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.informationProtection
      summary: Update the navigation property informationProtection in security
      operationId: security_UpdateInformationProtection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.informationProtection'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.informationProtection
      summary: Delete navigation property informationProtection for security
      operationId: security_DeleteInformationProtection
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/informationProtection/labelPolicySettings:
    get:
      tags:
        - security.informationProtection
      summary: Get labelPolicySettings from security
      operationId: security.informationProtection_GetLabelPolicySettings
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - defaultLabelId
                - isDowngradeJustificationRequired
                - isMandatory
                - moreInfoUrl
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.informationProtectionPolicySetting'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.informationProtection
      summary: Update the navigation property labelPolicySettings in security
      operationId: security.informationProtection_UpdateLabelPolicySettings
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.informationProtectionPolicySetting'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.informationProtection
      summary: Delete navigation property labelPolicySettings for security
      operationId: security.informationProtection_DeleteLabelPolicySettings
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/informationProtection/sensitivityLabels:
    get:
      tags:
        - security.informationProtection
      summary: Get sensitivityLabels from security
      operationId: security.informationProtection_ListSensitivityLabels
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - color
                - color desc
                - contentFormats
                - contentFormats desc
                - description
                - description desc
                - hasProtection
                - hasProtection desc
                - isActive
                - isActive desc
                - isAppliable
                - isAppliable desc
                - name
                - name desc
                - sensitivity
                - sensitivity desc
                - tooltip
                - tooltip desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - color
                - contentFormats
                - description
                - hasProtection
                - isActive
                - isAppliable
                - name
                - sensitivity
                - tooltip
                - parent
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parent
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.security.sensitivityLabelCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.informationProtection
      summary: Create new navigation property to sensitivityLabels for security
      operationId: security.informationProtection_CreateSensitivityLabels
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.sensitivityLabel'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.sensitivityLabel'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/informationProtection/sensitivityLabels/{sensitivityLabel-id}':
    get:
      tags:
        - security.informationProtection
      summary: Get sensitivityLabels from security
      operationId: security.informationProtection_GetSensitivityLabels
      parameters:
        - name: sensitivityLabel-id
          in: path
          description: 'key: id of sensitivityLabel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sensitivityLabel
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - color
                - contentFormats
                - description
                - hasProtection
                - isActive
                - isAppliable
                - name
                - sensitivity
                - tooltip
                - parent
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parent
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.sensitivityLabel'
          links:
            parent:
              operationId: security.informationProtection.SensitivityLabels.GetParent
              parameters:
                sensitivityLabel-id: $request.path.sensitivityLabel-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.informationProtection
      summary: Update the navigation property sensitivityLabels in security
      operationId: security.informationProtection_UpdateSensitivityLabels
      parameters:
        - name: sensitivityLabel-id
          in: path
          description: 'key: id of sensitivityLabel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sensitivityLabel
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.sensitivityLabel'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.informationProtection
      summary: Delete navigation property sensitivityLabels for security
      operationId: security.informationProtection_DeleteSensitivityLabels
      parameters:
        - name: sensitivityLabel-id
          in: path
          description: 'key: id of sensitivityLabel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sensitivityLabel
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/informationProtection/sensitivityLabels/{sensitivityLabel-id}/parent':
    get:
      tags:
        - security.informationProtection
      summary: Get parent from security
      operationId: security.informationProtection.sensitivityLabels_GetParent
      parameters:
        - name: sensitivityLabel-id
          in: path
          description: 'key: id of sensitivityLabel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sensitivityLabel
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - color
                - contentFormats
                - description
                - hasProtection
                - isActive
                - isAppliable
                - name
                - sensitivity
                - tooltip
                - parent
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parent
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.sensitivityLabel'
          links:
            parent:
              operationId: security.informationProtection.sensitivityLabels.Parent.GetParent
              parameters:
                sensitivityLabel-id: $request.path.sensitivityLabel-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.informationProtection
      summary: Update the navigation property parent in security
      operationId: security.informationProtection.sensitivityLabels_UpdateParent
      parameters:
        - name: sensitivityLabel-id
          in: path
          description: 'key: id of sensitivityLabel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sensitivityLabel
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.sensitivityLabel'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.informationProtection
      summary: Delete navigation property parent for security
      operationId: security.informationProtection.sensitivityLabels_DeleteParent
      parameters:
        - name: sensitivityLabel-id
          in: path
          description: 'key: id of sensitivityLabel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sensitivityLabel
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/informationProtection/sensitivityLabels/microsoft.graph.security.evaluateApplication:
    post:
      tags:
        - security.Actions
      summary: Invoke action evaluateApplication
      operationId: security.informationProtection.sensitivityLabels_evaluateApplication
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                contentInfo:
                  $ref: '#/components/schemas/microsoft.graph.security.contentInfo'
                labelingOptions:
                  $ref: '#/components/schemas/microsoft.graph.security.labelingOptions'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of sensitivityLabel
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.security.informationProtectionAction'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /security/informationProtection/sensitivityLabels/microsoft.graph.security.evaluateClassificationResults:
    post:
      tags:
        - security.Actions
      summary: Invoke action evaluateClassificationResults
      operationId: security.informationProtection.sensitivityLabels_evaluateClassificationResults
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                contentInfo:
                  $ref: '#/components/schemas/microsoft.graph.security.contentInfo'
                classificationResults:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.security.classificationResult'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of sensitivityLabel
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.security.informationProtectionAction'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /security/informationProtection/sensitivityLabels/microsoft.graph.security.evaluateRemoval:
    post:
      tags:
        - security.Actions
      summary: Invoke action evaluateRemoval
      operationId: security.informationProtection.sensitivityLabels_evaluateRemoval
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                contentInfo:
                  $ref: '#/components/schemas/microsoft.graph.security.contentInfo'
                downgradeJustification:
                  $ref: '#/components/schemas/microsoft.graph.security.downgradeJustification'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of sensitivityLabel
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.security.informationProtectionAction'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /security/informationProtection/sensitivityLabels/microsoft.graph.security.extractContentLabel:
    post:
      tags:
        - security.Actions
      summary: Invoke action extractContentLabel
      operationId: security.informationProtection.sensitivityLabels_extractContentLabel
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                contentInfo:
                  $ref: '#/components/schemas/microsoft.graph.security.contentInfo'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.contentLabel'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /security/ipSecurityProfiles:
    get:
      tags:
        - security.ipSecurityProfile
      summary: Get ipSecurityProfiles from security
      operationId: security_ListIpSecurityProfiles
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activityGroupNames
                - activityGroupNames desc
                - address
                - address desc
                - azureSubscriptionId
                - azureSubscriptionId desc
                - azureTenantId
                - azureTenantId desc
                - countHits
                - countHits desc
                - countHosts
                - countHosts desc
                - firstSeenDateTime
                - firstSeenDateTime desc
                - ipCategories
                - ipCategories desc
                - ipReferenceData
                - ipReferenceData desc
                - lastSeenDateTime
                - lastSeenDateTime desc
                - riskScore
                - riskScore desc
                - tags
                - tags desc
                - vendorInformation
                - vendorInformation desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityGroupNames
                - address
                - azureSubscriptionId
                - azureTenantId
                - countHits
                - countHosts
                - firstSeenDateTime
                - ipCategories
                - ipReferenceData
                - lastSeenDateTime
                - riskScore
                - tags
                - vendorInformation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.ipSecurityProfileCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.ipSecurityProfile
      summary: Create new navigation property to ipSecurityProfiles for security
      operationId: security_CreateIpSecurityProfiles
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.ipSecurityProfile'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.ipSecurityProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/ipSecurityProfiles/{ipSecurityProfile-id}':
    get:
      tags:
        - security.ipSecurityProfile
      summary: Get ipSecurityProfiles from security
      operationId: security_GetIpSecurityProfiles
      parameters:
        - name: ipSecurityProfile-id
          in: path
          description: 'key: id of ipSecurityProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ipSecurityProfile
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityGroupNames
                - address
                - azureSubscriptionId
                - azureTenantId
                - countHits
                - countHosts
                - firstSeenDateTime
                - ipCategories
                - ipReferenceData
                - lastSeenDateTime
                - riskScore
                - tags
                - vendorInformation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.ipSecurityProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.ipSecurityProfile
      summary: Update the navigation property ipSecurityProfiles in security
      operationId: security_UpdateIpSecurityProfiles
      parameters:
        - name: ipSecurityProfile-id
          in: path
          description: 'key: id of ipSecurityProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ipSecurityProfile
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.ipSecurityProfile'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.ipSecurityProfile
      summary: Delete navigation property ipSecurityProfiles for security
      operationId: security_DeleteIpSecurityProfiles
      parameters:
        - name: ipSecurityProfile-id
          in: path
          description: 'key: id of ipSecurityProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ipSecurityProfile
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/providerTenantSettings:
    get:
      tags:
        - security.providerTenantSetting
      summary: Get providerTenantSettings from security
      operationId: security_ListProviderTenantSettings
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - azureTenantId
                - azureTenantId desc
                - enabled
                - enabled desc
[...]
