openapi: 3.0.1
info:
  title: Identity.Governance
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /agreements:
    get:
      tags:
        - agreements.agreement
      summary: Get entities from agreements
      operationId: agreements.agreement_ListAgreement
      parameters:
        - $ref: '#/components/parameters/search'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - isPerDeviceAcceptanceRequired
                - isViewingBeforeAcceptanceRequired
                - termsExpiration
                - userReacceptRequiredFrequency
                - acceptances
                - file
                - files
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.agreementCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - agreements.agreement
      summary: Add new entity to agreements
      operationId: agreements.agreement_CreateAgreement
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreement'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreement'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}':
    get:
      tags:
        - agreements.agreement
      summary: Get entity from agreements by key
      operationId: agreements.agreement_GetAgreement
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - isPerDeviceAcceptanceRequired
                - isViewingBeforeAcceptanceRequired
                - termsExpiration
                - userReacceptRequiredFrequency
                - acceptances
                - file
                - files
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreement'
          links:
            acceptances:
              operationId: agreements.ListAcceptances
              parameters:
                agreement-id: $request.path.agreement-id
            file:
              operationId: agreements.GetFile
              parameters:
                agreement-id: $request.path.agreement-id
            files:
              operationId: agreements.ListFiles
              parameters:
                agreement-id: $request.path.agreement-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - agreements.agreement
      summary: Update entity in agreements
      operationId: agreements.agreement_UpdateAgreement
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreement'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - agreements.agreement
      summary: Delete entity from agreements
      operationId: agreements.agreement_DeleteAgreement
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/acceptances':
    get:
      tags:
        - agreements.agreementAcceptance
      summary: Get acceptances from agreements
      operationId: agreements_ListAcceptances
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - agreementFileId
                - agreementFileId desc
                - agreementId
                - agreementId desc
                - deviceDisplayName
                - deviceDisplayName desc
                - deviceId
                - deviceId desc
                - deviceOSType
                - deviceOSType desc
                - deviceOSVersion
                - deviceOSVersion desc
                - expirationDateTime
                - expirationDateTime desc
                - recordedDateTime
                - recordedDateTime desc
                - state
                - state desc
                - userDisplayName
                - userDisplayName desc
                - userEmail
                - userEmail desc
                - userId
                - userId desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - agreementFileId
                - agreementId
                - deviceDisplayName
                - deviceId
                - deviceOSType
                - deviceOSVersion
                - expirationDateTime
                - recordedDateTime
                - state
                - userDisplayName
                - userEmail
                - userId
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.agreementAcceptanceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - agreements.agreementAcceptance
      summary: Create new navigation property to acceptances for agreements
      operationId: agreements_CreateAcceptances
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementAcceptance'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementAcceptance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/acceptances/{agreementAcceptance-id}':
    get:
      tags:
        - agreements.agreementAcceptance
      summary: Get acceptances from agreements
      operationId: agreements_GetAcceptances
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementAcceptance-id
          in: path
          description: 'key: id of agreementAcceptance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementAcceptance
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - agreementFileId
                - agreementId
                - deviceDisplayName
                - deviceId
                - deviceOSType
                - deviceOSVersion
                - expirationDateTime
                - recordedDateTime
                - state
                - userDisplayName
                - userEmail
                - userId
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementAcceptance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - agreements.agreementAcceptance
      summary: Update the navigation property acceptances in agreements
      operationId: agreements_UpdateAcceptances
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementAcceptance-id
          in: path
          description: 'key: id of agreementAcceptance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementAcceptance
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementAcceptance'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - agreements.agreementAcceptance
      summary: Delete navigation property acceptances for agreements
      operationId: agreements_DeleteAcceptances
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementAcceptance-id
          in: path
          description: 'key: id of agreementAcceptance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementAcceptance
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/file':
    get:
      tags:
        - agreements.agreementFile
      summary: Get file from agreements
      operationId: agreements_GetFile
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - fileData
                - fileName
                - isDefault
                - isMajorVersion
                - language
                - localizations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - localizations
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFile'
          links:
            localizations:
              operationId: agreements.File.ListLocalizations
              parameters:
                agreement-id: $request.path.agreement-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - agreements.agreementFile
      summary: Update the navigation property file in agreements
      operationId: agreements_UpdateFile
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFile'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - agreements.agreementFile
      summary: Delete navigation property file for agreements
      operationId: agreements_DeleteFile
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/file/localizations':
    get:
      tags:
        - agreements.agreementFile
      summary: Get localizations from agreements
      operationId: agreements.file_ListLocalizations
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - fileData
                - fileData desc
                - fileName
                - fileName desc
                - isDefault
                - isDefault desc
                - isMajorVersion
                - isMajorVersion desc
                - language
                - language desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - fileData
                - fileName
                - isDefault
                - isMajorVersion
                - language
                - versions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - versions
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.agreementFileLocalizationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - agreements.agreementFile
      summary: Create new navigation property to localizations for agreements
      operationId: agreements.file_CreateLocalizations
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/file/localizations/{agreementFileLocalization-id}':
    get:
      tags:
        - agreements.agreementFile
      summary: Get localizations from agreements
      operationId: agreements.file_GetLocalizations
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - fileData
                - fileName
                - isDefault
                - isMajorVersion
                - language
                - versions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - versions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
          links:
            versions:
              operationId: agreements.file.Localizations.ListVersions
              parameters:
                agreement-id: $request.path.agreement-id
                agreementFileLocalization-id: $request.path.agreementFileLocalization-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - agreements.agreementFile
      summary: Update the navigation property localizations in agreements
      operationId: agreements.file_UpdateLocalizations
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - agreements.agreementFile
      summary: Delete navigation property localizations for agreements
      operationId: agreements.file_DeleteLocalizations
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/file/localizations/{agreementFileLocalization-id}/versions':
    get:
      tags:
        - agreements.agreementFile
      summary: Get versions from agreements
      operationId: agreements.file.localizations_ListVersions
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - fileData
                - fileData desc
                - fileName
                - fileName desc
                - isDefault
                - isDefault desc
                - isMajorVersion
                - isMajorVersion desc
                - language
                - language desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - fileData
                - fileName
                - isDefault
                - isMajorVersion
                - language
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.agreementFileVersionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - agreements.agreementFile
      summary: Create new navigation property to versions for agreements
      operationId: agreements.file.localizations_CreateVersions
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFileVersion'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFileVersion'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/file/localizations/{agreementFileLocalization-id}/versions/{agreementFileVersion-id}':
    get:
      tags:
        - agreements.agreementFile
      summary: Get versions from agreements
      operationId: agreements.file.localizations_GetVersions
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - name: agreementFileVersion-id
          in: path
          description: 'key: id of agreementFileVersion'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileVersion
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - fileData
                - fileName
                - isDefault
                - isMajorVersion
                - language
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFileVersion'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - agreements.agreementFile
      summary: Update the navigation property versions in agreements
      operationId: agreements.file.localizations_UpdateVersions
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - name: agreementFileVersion-id
          in: path
          description: 'key: id of agreementFileVersion'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileVersion
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFileVersion'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - agreements.agreementFile
      summary: Delete navigation property versions for agreements
      operationId: agreements.file.localizations_DeleteVersions
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - name: agreementFileVersion-id
          in: path
          description: 'key: id of agreementFileVersion'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileVersion
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/files':
    get:
      tags:
        - agreements.agreementFileLocalization
      summary: Get files from agreements
      operationId: agreements_ListFiles
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - fileData
                - fileData desc
                - fileName
                - fileName desc
                - isDefault
                - isDefault desc
                - isMajorVersion
                - isMajorVersion desc
                - language
                - language desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - fileData
                - fileName
                - isDefault
                - isMajorVersion
                - language
                - versions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - versions
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.agreementFileLocalizationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - agreements.agreementFileLocalization
      summary: Create new navigation property to files for agreements
      operationId: agreements_CreateFiles
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/files/{agreementFileLocalization-id}':
    get:
      tags:
        - agreements.agreementFileLocalization
      summary: Get files from agreements
      operationId: agreements_GetFiles
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - fileData
                - fileName
                - isDefault
                - isMajorVersion
                - language
                - versions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - versions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
          links:
            versions:
              operationId: agreements.Files.ListVersions
              parameters:
                agreement-id: $request.path.agreement-id
                agreementFileLocalization-id: $request.path.agreementFileLocalization-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - agreements.agreementFileLocalization
      summary: Update the navigation property files in agreements
      operationId: agreements_UpdateFiles
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - agreements.agreementFileLocalization
      summary: Delete navigation property files for agreements
      operationId: agreements_DeleteFiles
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/files/{agreementFileLocalization-id}/versions':
    get:
      tags:
        - agreements.agreementFileLocalization
      summary: Get versions from agreements
      operationId: agreements.files_ListVersions
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - fileData
                - fileData desc
                - fileName
                - fileName desc
                - isDefault
                - isDefault desc
                - isMajorVersion
                - isMajorVersion desc
                - language
                - language desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - fileData
                - fileName
                - isDefault
                - isMajorVersion
                - language
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.agreementFileVersionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - agreements.agreementFileLocalization
      summary: Create new navigation property to versions for agreements
      operationId: agreements.files_CreateVersions
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFileVersion'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFileVersion'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/files/{agreementFileLocalization-id}/versions/{agreementFileVersion-id}':
    get:
      tags:
        - agreements.agreementFileLocalization
      summary: Get versions from agreements
      operationId: agreements.files_GetVersions
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - name: agreementFileVersion-id
          in: path
          description: 'key: id of agreementFileVersion'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileVersion
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - fileData
                - fileName
                - isDefault
                - isMajorVersion
                - language
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFileVersion'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - agreements.agreementFileLocalization
      summary: Update the navigation property versions in agreements
      operationId: agreements.files_UpdateVersions
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - name: agreementFileVersion-id
          in: path
          description: 'key: id of agreementFileVersion'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileVersion
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFileVersion'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - agreements.agreementFileLocalization
      summary: Delete navigation property versions for agreements
      operationId: agreements.files_DeleteVersions
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - name: agreementFileVersion-id
          in: path
          description: 'key: id of agreementFileVersion'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileVersion
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance:
    get:
      tags:
        - identityGovernance.identityGovernance
      summary: Get identityGovernance
      operationId: identityGovernance.identityGovernance_GetIdentityGovernance
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - accessReviews
                - appConsent
                - termsOfUse
                - entitlementManagement
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - accessReviews
                - appConsent
                - termsOfUse
                - entitlementManagement
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityGovernance'
          links:
            accessReviews:
              operationId: identityGovernance.GetAccessReviews
            appConsent:
              operationId: identityGovernance.GetAppConsent
            termsOfUse:
              operationId: identityGovernance.GetTermsOfUse
            entitlementManagement:
              operationId: identityGovernance.GetEntitlementManagement
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identityGovernance.identityGovernance
      summary: Update identityGovernance
      operationId: identityGovernance.identityGovernance_UpdateIdentityGovernance
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityGovernance'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance/accessReviews:
    get:
      tags:
        - identityGovernance.accessReviewSet
      summary: Get accessReviews from identityGovernance
      operationId: identityGovernance_GetAccessReviews
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - definitions
                - historyDefinitions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - definitions
                - historyDefinitions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewSet'
          links:
            definitions:
              operationId: identityGovernance.AccessReviews.ListDefinitions
            historyDefinitions:
              operationId: identityGovernance.AccessReviews.ListHistoryDefinitions
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identityGovernance.accessReviewSet
      summary: Update the navigation property accessReviews in identityGovernance
      operationId: identityGovernance_UpdateAccessReviews
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewSet'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identityGovernance.accessReviewSet
      summary: Delete navigation property accessReviews for identityGovernance
      operationId: identityGovernance_DeleteAccessReviews
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance/accessReviews/definitions:
    get:
      tags:
        - identityGovernance.accessReviewSet
      summary: Get definitions from identityGovernance
      operationId: identityGovernance.accessReviews_ListDefinitions
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - additionalNotificationRecipients
                - additionalNotificationRecipients desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - descriptionForAdmins
                - descriptionForAdmins desc
                - descriptionForReviewers
                - descriptionForReviewers desc
                - displayName
                - displayName desc
                - fallbackReviewers
                - fallbackReviewers desc
                - instanceEnumerationScope
                - instanceEnumerationScope desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - reviewers
                - reviewers desc
                - scope
                - scope desc
                - settings
                - settings desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - additionalNotificationRecipients
                - createdBy
                - createdDateTime
                - descriptionForAdmins
                - descriptionForReviewers
                - displayName
                - fallbackReviewers
                - instanceEnumerationScope
                - lastModifiedDateTime
                - reviewers
                - scope
                - settings
                - status
                - instances
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - instances
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.accessReviewScheduleDefinitionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identityGovernance.accessReviewSet
      summary: Create new navigation property to definitions for identityGovernance
      operationId: identityGovernance.accessReviews_CreateDefinitions
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewScheduleDefinition'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewScheduleDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}':
    get:
      tags:
        - identityGovernance.accessReviewSet
      summary: Get definitions from identityGovernance
      operationId: identityGovernance.accessReviews_GetDefinitions
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - additionalNotificationRecipients
                - createdBy
                - createdDateTime
                - descriptionForAdmins
                - descriptionForReviewers
                - displayName
                - fallbackReviewers
                - instanceEnumerationScope
                - lastModifiedDateTime
                - reviewers
                - scope
                - settings
                - status
                - instances
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - instances
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewScheduleDefinition'
          links:
            instances:
              operationId: identityGovernance.accessReviews.Definitions.ListInstances
              parameters:
                accessReviewScheduleDefinition-id: $request.path.accessReviewScheduleDefinition-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identityGovernance.accessReviewSet
      summary: Update the navigation property definitions in identityGovernance
      operationId: identityGovernance.accessReviews_UpdateDefinitions
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewScheduleDefinition'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identityGovernance.accessReviewSet
      summary: Delete navigation property definitions for identityGovernance
      operationId: identityGovernance.accessReviews_DeleteDefinitions
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances':
    get:
      tags:
        - identityGovernance.accessReviewSet
      summary: Get instances from identityGovernance
      operationId: identityGovernance.accessReviews.definitions_ListInstances
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - endDateTime
                - endDateTime desc
                - fallbackReviewers
                - fallbackReviewers desc
                - reviewers
                - reviewers desc
                - scope
                - scope desc
                - startDateTime
                - startDateTime desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - endDateTime
                - fallbackReviewers
                - reviewers
                - scope
                - startDateTime
                - status
                - contactedReviewers
                - decisions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - contactedReviewers
                - decisions
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.accessReviewInstanceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identityGovernance.accessReviewSet
      summary: Create new navigation property to instances for identityGovernance
      operationId: identityGovernance.accessReviews.definitions_CreateInstances
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewInstance'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewInstance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}':
    get:
      tags:
        - identityGovernance.accessReviewSet
      summary: Get instances from identityGovernance
      operationId: identityGovernance.accessReviews.definitions_GetInstances
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - endDateTime
                - fallbackReviewers
                - reviewers
                - scope
                - startDateTime
                - status
                - contactedReviewers
                - decisions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - contactedReviewers
                - decisions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewInstance'
          links:
            contactedReviewers:
              operationId: identityGovernance.accessReviews.definitions.Instances.ListContactedReviewers
              parameters:
                accessReviewScheduleDefinition-id: $request.path.accessReviewScheduleDefinition-id
                accessReviewInstance-id: $request.path.accessReviewInstance-id
            decisions:
              operationId: identityGovernance.accessReviews.definitions.Instances.ListDecisions
              parameters:
                accessReviewScheduleDefinition-id: $request.path.accessReviewScheduleDefinition-id
                accessReviewInstance-id: $request.path.accessReviewInstance-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identityGovernance.accessReviewSet
      summary: Update the navigation property instances in identityGovernance
      operationId: identityGovernance.accessReviews.definitions_UpdateInstances
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewInstance'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identityGovernance.accessReviewSet
      summary: Delete navigation property instances for identityGovernance
      operationId: identityGovernance.accessReviews.definitions_DeleteInstances
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/contactedReviewers':
    get:
      tags:
        - identityGovernance.accessReviewSet
      summary: Get contactedReviewers from identityGovernance
      operationId: identityGovernance.accessReviews.definitions.instances_ListContactedReviewers
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.accessReviewReviewerCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identityGovernance.accessReviewSet
      summary: Create new navigation property to contactedReviewers for identityGovernance
      operationId: identityGovernance.accessReviews.definitions.instances_CreateContactedReviewers
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/contactedReviewers/{accessReviewReviewer-id}':
    get:
      tags:
        - identityGovernance.accessReviewSet
      summary: Get contactedReviewers from identityGovernance
      operationId: identityGovernance.accessReviews.definitions.instances_GetContactedReviewers
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
        - name: accessReviewReviewer-id
          in: path
          description: 'key: id of accessReviewReviewer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewReviewer
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identityGovernance.accessReviewSet
      summary: Update the navigation property contactedReviewers in identityGovernance
      operationId: identityGovernance.accessReviews.definitions.instances_UpdateContactedReviewers
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
        - name: accessReviewReviewer-id
          in: path
          description: 'key: id of accessReviewReviewer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewReviewer
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identityGovernance.accessReviewSet
      summary: Delete navigation property contactedReviewers for identityGovernance
      operationId: identityGovernance.accessReviews.definitions.instances_DeleteContactedReviewers
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
        - name: accessReviewReviewer-id
          in: path
          description: 'key: id of accessReviewReviewer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewReviewer
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/decisions':
    get:
      tags:
        - identityGovernance.accessReviewSet
      summary: Get decisions from identityGovernance
      operationId: identityGovernance.accessReviews.definitions.instances_ListDecisions
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - accessReviewId
                - accessReviewId desc
                - appliedBy
                - appliedBy desc
                - appliedDateTime
                - appliedDateTime desc
                - applyResult
                - applyResult desc
                - decision
                - decision desc
                - justification
                - justification desc
                - principal
                - principal desc
                - principalLink
                - principalLink desc
                - recommendation
                - recommendation desc
                - resource
                - resource desc
                - resourceLink
                - resourceLink desc
                - reviewedBy
                - reviewedBy desc
                - reviewedDateTime
                - reviewedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessReviewId
                - appliedBy
                - appliedDateTime
                - applyResult
                - decision
                - justification
                - principal
                - principalLink
                - recommendation
                - resource
                - resourceLink
                - reviewedBy
                - reviewedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.accessReviewInstanceDecisionItemCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identityGovernance.accessReviewSet
      summary: Create new navigation property to decisions for identityGovernance
      operationId: identityGovernance.accessReviews.definitions.instances_CreateDecisions
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewInstanceDecisionItem'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewInstanceDecisionItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/decisions/{accessReviewInstanceDecisionItem-id}':
    get:
      tags:
        - identityGovernance.accessReviewSet
      summary: Get decisions from identityGovernance
      operationId: identityGovernance.accessReviews.definitions.instances_GetDecisions
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
        - name: accessReviewInstanceDecisionItem-id
          in: path
          description: 'key: id of accessReviewInstanceDecisionItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstanceDecisionItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessReviewId
                - appliedBy
                - appliedDateTime
                - applyResult
                - decision
                - justification
                - principal
                - principalLink
                - recommendation
                - resource
                - resourceLink
                - reviewedBy
                - reviewedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewInstanceDecisionItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identityGovernance.accessReviewSet
      summary: Update the navigation property decisions in identityGovernance
      operationId: identityGovernance.accessReviews.definitions.instances_UpdateDecisions
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
        - name: accessReviewInstanceDecisionItem-id
          in: path
          description: 'key: id of accessReviewInstanceDecisionItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstanceDecisionItem
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewInstanceDecisionItem'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identityGovernance.accessReviewSet
      summary: Delete navigation property decisions for identityGovernance
      operationId: identityGovernance.accessReviews.definitions.instances_DeleteDecisions
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
        - name: accessReviewInstanceDecisionItem-id
          in: path
          description: 'key: id of accessReviewInstanceDecisionItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstanceDecisionItem
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/decisions/microsoft.graph.filterByCurrentUser(on={on})':
    get:
      tags:
        - identityGovernance.Functions
      summary: Invoke function filterByCurrentUser
      operationId: identityGovernance.accessReviews.definitions.instances.decisions_filterByCurrentUser
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
        - name: on
          in: path
          description: 'Usage: on={on}'
          required: true
          schema:
            $ref: '#/components/schemas/microsoft.graph.accessReviewInstanceDecisionItemFilterByCurrentUserOptions'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of accessReviewInstanceDecisionItem
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.accessReviewInstanceDecisionItem'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/microsoft.graph.acceptRecommendations':
    post:
      tags:
        - identityGovernance.Actions
      summary: Invoke action acceptRecommendations
      operationId: identityGovernance.accessReviews.definitions.instances_acceptRecommendations
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/microsoft.graph.applyDecisions':
    post:
      tags:
        - identityGovernance.Actions
      summary: Invoke action applyDecisions
      operationId: identityGovernance.accessReviews.definitions.instances_applyDecisions
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/microsoft.graph.batchRecordDecisions':
    post:
      tags:
        - identityGovernance.Actions
      summary: Invoke action batchRecordDecisions
      operationId: identityGovernance.accessReviews.definitions.instances_batchRecordDecisions
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                decision:
                  type: string
                  nullable: true
                justification:
                  type: string
                  nullable: true
                principalId:
                  type: string
                  nullable: true
                resourceId:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/microsoft.graph.resetDecisions':
    post:
      tags:
        - identityGovernance.Actions
      summary: Invoke action resetDecisions
      operationId: identityGovernance.accessReviews.definitions.instances_resetDecisions
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/microsoft.graph.sendReminder':
    post:
      tags:
        - identityGovernance.Actions
      summary: Invoke action sendReminder
      operationId: identityGovernance.accessReviews.definitions.instances_sendReminder
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/microsoft.graph.stop':
    post:
      tags:
        - identityGovernance.Actions
      summary: Invoke action stop
      operationId: identityGovernance.accessReviews.definitions.instances_stop
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/microsoft.graph.filterByCurrentUser(on={on})':
    get:
      tags:
        - identityGovernance.Functions
      summary: Invoke function filterByCurrentUser
      operationId: identityGovernance.accessReviews.definitions.instances_filterByCurrentUser
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: on
[...]
