openapi: 3.0.1
info:
  title: Sites
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  '/groups/{group-id}/sites':
    get:
      tags:
        - groups.site
      summary: Get sites from groups
      operationId: groups_ListSites
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - eTag
                - eTag desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - name
                - name desc
                - parentReference
                - parentReference desc
                - webUrl
                - webUrl desc
                - displayName
                - displayName desc
                - error
                - error desc
                - root
                - root desc
                - sharepointIds
                - sharepointIds desc
                - siteCollection
                - siteCollection desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - displayName
                - error
                - root
                - sharepointIds
                - siteCollection
                - createdByUser
                - lastModifiedByUser
                - analytics
                - columns
                - contentTypes
                - drive
                - drives
                - externalColumns
                - items
                - lists
                - permissions
                - sites
                - termStore
                - termStores
                - onenote
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - analytics
                - columns
                - contentTypes
                - drive
                - drives
                - externalColumns
                - items
                - lists
                - permissions
                - sites
                - termStore
                - termStores
                - onenote
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.siteCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.site
      summary: Create new navigation property to sites for groups
      operationId: groups_CreateSites
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.site'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.site'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/sites/{site-id}':
    get:
      tags:
        - groups.site
      summary: Get sites from groups
      operationId: groups_GetSites
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - displayName
                - error
                - root
                - sharepointIds
                - siteCollection
                - createdByUser
                - lastModifiedByUser
                - analytics
                - columns
                - contentTypes
                - drive
                - drives
                - externalColumns
                - items
                - lists
                - permissions
                - sites
                - termStore
                - termStores
                - onenote
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - analytics
                - columns
                - contentTypes
                - drive
                - drives
                - externalColumns
                - items
                - lists
                - permissions
                - sites
                - termStore
                - termStores
                - onenote
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.site'
          links:
            createdByUser:
              operationId: groups.Sites.GetCreatedByUser
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
            lastModifiedByUser:
              operationId: groups.Sites.GetLastModifiedByUser
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
            analytics:
              operationId: groups.Sites.GetAnalytics
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
            columns:
              operationId: groups.Sites.ListColumns
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
            contentTypes:
              operationId: groups.Sites.ListContentTypes
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
            drive:
              operationId: groups.Sites.GetDrive
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
            drives:
              operationId: groups.Sites.ListDrives
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
            externalColumns:
              operationId: groups.Sites.ListExternalColumns
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
            items:
              operationId: groups.Sites.ListItems
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
            lists:
              operationId: groups.Sites.ListLists
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
            permissions:
              operationId: groups.Sites.ListPermissions
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
            sites:
              operationId: groups.Sites.ListSites
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
            termStore:
              operationId: groups.Sites.GetTermStore
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
            termStores:
              operationId: groups.Sites.ListTermStores
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
            onenote:
              operationId: groups.Sites.GetOnenote
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.site
      summary: Update the navigation property sites in groups
      operationId: groups_UpdateSites
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.site'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.site
      summary: Delete navigation property sites for groups
      operationId: groups_DeleteSites
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/sites/{site-id}/analytics':
    get:
      tags:
        - groups.site
      summary: Get analytics from groups
      operationId: groups.sites_GetAnalytics
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allTime
                - itemActivityStats
                - lastSevenDays
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - allTime
                - itemActivityStats
                - lastSevenDays
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemAnalytics'
          links:
            allTime:
              operationId: groups.sites.Analytics.GetAllTime
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
            itemActivityStats:
              operationId: groups.sites.Analytics.ListItemActivityStats
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
            lastSevenDays:
              operationId: groups.sites.Analytics.GetLastSevenDays
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/sites/{site-id}/columns':
    get:
      tags:
        - groups.site
      summary: Get columns from groups
      operationId: groups.sites_ListColumns
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - boolean
                - boolean desc
                - calculated
                - calculated desc
                - choice
                - choice desc
                - columnGroup
                - columnGroup desc
                - contentApprovalStatus
                - contentApprovalStatus desc
                - currency
                - currency desc
                - dateTime
                - dateTime desc
                - defaultValue
                - defaultValue desc
                - description
                - description desc
                - displayName
                - displayName desc
                - enforceUniqueValues
                - enforceUniqueValues desc
                - geolocation
                - geolocation desc
                - hidden
                - hidden desc
                - hyperlinkOrPicture
                - hyperlinkOrPicture desc
                - indexed
                - indexed desc
                - isDeletable
                - isDeletable desc
                - isReorderable
                - isReorderable desc
                - isSealed
                - isSealed desc
                - lookup
                - lookup desc
                - name
                - name desc
                - number
                - number desc
                - personOrGroup
                - personOrGroup desc
                - propagateChanges
                - propagateChanges desc
                - readOnly
                - readOnly desc
                - required
                - required desc
                - term
                - term desc
                - text
                - text desc
                - thumbnail
                - thumbnail desc
                - type
                - type desc
                - validation
                - validation desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - boolean
                - calculated
                - choice
                - columnGroup
                - contentApprovalStatus
                - currency
                - dateTime
                - defaultValue
                - description
                - displayName
                - enforceUniqueValues
                - geolocation
                - hidden
                - hyperlinkOrPicture
                - indexed
                - isDeletable
                - isReorderable
                - isSealed
                - lookup
                - name
                - number
                - personOrGroup
                - propagateChanges
                - readOnly
                - required
                - term
                - text
                - thumbnail
                - type
                - validation
                - sourceColumn
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sourceColumn
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.columnDefinitionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.site
      summary: Create new navigation property to columns for groups
      operationId: groups.sites_CreateColumns
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.columnDefinition'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.columnDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/sites/{site-id}/columns/{columnDefinition-id}':
    get:
      tags:
        - groups.site
      summary: Get columns from groups
      operationId: groups.sites_GetColumns
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: columnDefinition-id
          in: path
          description: 'key: id of columnDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: columnDefinition
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - boolean
                - calculated
                - choice
                - columnGroup
                - contentApprovalStatus
                - currency
                - dateTime
                - defaultValue
                - description
                - displayName
                - enforceUniqueValues
                - geolocation
                - hidden
                - hyperlinkOrPicture
                - indexed
                - isDeletable
                - isReorderable
                - isSealed
                - lookup
                - name
                - number
                - personOrGroup
                - propagateChanges
                - readOnly
                - required
                - term
                - text
                - thumbnail
                - type
                - validation
                - sourceColumn
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sourceColumn
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.columnDefinition'
          links:
            sourceColumn:
              operationId: groups.sites.Columns.GetSourceColumn
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
                columnDefinition-id: $request.path.columnDefinition-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.site
      summary: Update the navigation property columns in groups
      operationId: groups.sites_UpdateColumns
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: columnDefinition-id
          in: path
          description: 'key: id of columnDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: columnDefinition
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.columnDefinition'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.site
      summary: Delete navigation property columns for groups
      operationId: groups.sites_DeleteColumns
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: columnDefinition-id
          in: path
          description: 'key: id of columnDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: columnDefinition
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/sites/{site-id}/columns/{columnDefinition-id}/sourceColumn':
    get:
      tags:
        - groups.site
      summary: Get sourceColumn from groups
      operationId: groups.sites.columns_GetSourceColumn
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: columnDefinition-id
          in: path
          description: 'key: id of columnDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: columnDefinition
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - boolean
                - calculated
                - choice
                - columnGroup
                - contentApprovalStatus
                - currency
                - dateTime
                - defaultValue
                - description
                - displayName
                - enforceUniqueValues
                - geolocation
                - hidden
                - hyperlinkOrPicture
                - indexed
                - isDeletable
                - isReorderable
                - isSealed
                - lookup
                - name
                - number
                - personOrGroup
                - propagateChanges
                - readOnly
                - required
                - term
                - text
                - thumbnail
                - type
                - validation
                - sourceColumn
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sourceColumn
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.columnDefinition'
          links:
            sourceColumn:
              operationId: groups.sites.columns.SourceColumn.GetSourceColumn
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
                columnDefinition-id: $request.path.columnDefinition-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/sites/{site-id}/contentTypes':
    get:
      tags:
        - groups.site
      summary: Get contentTypes from groups
      operationId: groups.sites_ListContentTypes
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - associatedHubsUrls
                - associatedHubsUrls desc
                - description
                - description desc
                - documentSet
                - documentSet desc
                - documentTemplate
                - documentTemplate desc
                - group
                - group desc
                - hidden
                - hidden desc
                - inheritedFrom
                - inheritedFrom desc
                - isBuiltIn
                - isBuiltIn desc
                - name
                - name desc
                - order
                - order desc
                - parentId
                - parentId desc
                - propagateChanges
                - propagateChanges desc
                - readOnly
                - readOnly desc
                - sealed
                - sealed desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - associatedHubsUrls
                - description
                - documentSet
                - documentTemplate
                - group
                - hidden
                - inheritedFrom
                - isBuiltIn
                - name
                - order
                - parentId
                - propagateChanges
                - readOnly
                - sealed
                - base
                - baseTypes
                - columnLinks
                - columnPositions
                - columns
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - base
                - baseTypes
                - columnLinks
                - columnPositions
                - columns
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.contentTypeCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.site
      summary: Create new navigation property to contentTypes for groups
      operationId: groups.sites_CreateContentTypes
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contentType'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contentType'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/sites/{site-id}/contentTypes/{contentType-id}':
    get:
      tags:
        - groups.site
      summary: Get contentTypes from groups
      operationId: groups.sites_GetContentTypes
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: contentType-id
          in: path
          description: 'key: id of contentType'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contentType
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - associatedHubsUrls
                - description
                - documentSet
                - documentTemplate
                - group
                - hidden
                - inheritedFrom
                - isBuiltIn
                - name
                - order
                - parentId
                - propagateChanges
                - readOnly
                - sealed
                - base
                - baseTypes
                - columnLinks
                - columnPositions
                - columns
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - base
                - baseTypes
                - columnLinks
                - columnPositions
                - columns
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contentType'
          links:
            base:
              operationId: groups.sites.ContentTypes.GetBase
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
                contentType-id: $request.path.contentType-id
            baseTypes:
              operationId: groups.sites.ContentTypes.ListBaseTypes
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
                contentType-id: $request.path.contentType-id
            columnLinks:
              operationId: groups.sites.ContentTypes.ListColumnLinks
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
                contentType-id: $request.path.contentType-id
            columnPositions:
              operationId: groups.sites.ContentTypes.ListColumnPositions
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
                contentType-id: $request.path.contentType-id
            columns:
              operationId: groups.sites.ContentTypes.ListColumns
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
                contentType-id: $request.path.contentType-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.site
      summary: Update the navigation property contentTypes in groups
      operationId: groups.sites_UpdateContentTypes
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: contentType-id
          in: path
          description: 'key: id of contentType'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contentType
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contentType'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.site
      summary: Delete navigation property contentTypes for groups
      operationId: groups.sites_DeleteContentTypes
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: contentType-id
          in: path
          description: 'key: id of contentType'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contentType
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/sites/{site-id}/contentTypes/{contentType-id}/base':
    get:
      tags:
        - groups.site
      summary: Get base from groups
      operationId: groups.sites.contentTypes_GetBase
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: contentType-id
          in: path
          description: 'key: id of contentType'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contentType
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - associatedHubsUrls
                - description
                - documentSet
                - documentTemplate
                - group
                - hidden
                - inheritedFrom
                - isBuiltIn
                - name
                - order
                - parentId
                - propagateChanges
                - readOnly
                - sealed
                - base
                - baseTypes
                - columnLinks
                - columnPositions
                - columns
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - base
                - baseTypes
                - columnLinks
                - columnPositions
                - columns
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contentType'
          links:
            base:
              operationId: groups.sites.contentTypes.Base.GetBase
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
                contentType-id: $request.path.contentType-id
            baseTypes:
              operationId: groups.sites.contentTypes.Base.ListBaseTypes
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
                contentType-id: $request.path.contentType-id
            columnLinks:
              operationId: groups.sites.contentTypes.Base.ListColumnLinks
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
                contentType-id: $request.path.contentType-id
            columnPositions:
              operationId: groups.sites.contentTypes.Base.ListColumnPositions
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
                contentType-id: $request.path.contentType-id
            columns:
              operationId: groups.sites.contentTypes.Base.ListColumns
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
                contentType-id: $request.path.contentType-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/sites/{site-id}/contentTypes/{contentType-id}/baseTypes':
    get:
      tags:
        - groups.site
      summary: Get baseTypes from groups
      operationId: groups.sites.contentTypes_ListBaseTypes
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: contentType-id
          in: path
          description: 'key: id of contentType'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contentType
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - associatedHubsUrls
                - associatedHubsUrls desc
                - description
                - description desc
                - documentSet
                - documentSet desc
                - documentTemplate
                - documentTemplate desc
                - group
                - group desc
                - hidden
                - hidden desc
                - inheritedFrom
                - inheritedFrom desc
                - isBuiltIn
                - isBuiltIn desc
                - name
                - name desc
                - order
                - order desc
                - parentId
                - parentId desc
                - propagateChanges
                - propagateChanges desc
                - readOnly
                - readOnly desc
                - sealed
                - sealed desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - associatedHubsUrls
                - description
                - documentSet
                - documentTemplate
                - group
                - hidden
                - inheritedFrom
                - isBuiltIn
                - name
                - order
                - parentId
                - propagateChanges
                - readOnly
                - sealed
                - base
                - baseTypes
                - columnLinks
                - columnPositions
                - columns
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - base
                - baseTypes
                - columnLinks
                - columnPositions
                - columns
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.contentTypeCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/sites/{site-id}/contentTypes/{contentType-id}/baseTypes/{contentType-id1}':
    get:
      tags:
        - groups.site
      summary: Get baseTypes from groups
      operationId: groups.sites.contentTypes_GetBaseTypes
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: contentType-id
          in: path
          description: 'key: id of contentType'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contentType
        - name: contentType-id1
          in: path
          description: 'key: id of contentType'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contentType
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - associatedHubsUrls
                - description
                - documentSet
                - documentTemplate
                - group
                - hidden
                - inheritedFrom
                - isBuiltIn
                - name
                - order
                - parentId
                - propagateChanges
                - readOnly
                - sealed
                - base
                - baseTypes
                - columnLinks
                - columnPositions
                - columns
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - base
                - baseTypes
                - columnLinks
                - columnPositions
                - columns
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contentType'
          links:
            base:
              operationId: groups.sites.contentTypes.BaseTypes.GetBase
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
                contentType-id: $request.path.contentType-id
                contentType-id1: $request.path.contentType-id1
            baseTypes:
              operationId: groups.sites.contentTypes.BaseTypes.ListBaseTypes
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
                contentType-id: $request.path.contentType-id
                contentType-id1: $request.path.contentType-id1
            columnLinks:
              operationId: groups.sites.contentTypes.BaseTypes.ListColumnLinks
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
                contentType-id: $request.path.contentType-id
                contentType-id1: $request.path.contentType-id1
            columnPositions:
              operationId: groups.sites.contentTypes.BaseTypes.ListColumnPositions
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
                contentType-id: $request.path.contentType-id
                contentType-id1: $request.path.contentType-id1
            columns:
              operationId: groups.sites.contentTypes.BaseTypes.ListColumns
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
                contentType-id: $request.path.contentType-id
                contentType-id1: $request.path.contentType-id1
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/sites/{site-id}/contentTypes/{contentType-id}/columnLinks':
    get:
      tags:
        - groups.site
      summary: Get columnLinks from groups
      operationId: groups.sites.contentTypes_ListColumnLinks
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: contentType-id
          in: path
          description: 'key: id of contentType'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contentType
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - name
                - name desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.columnLinkCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.site
      summary: Create new navigation property to columnLinks for groups
      operationId: groups.sites.contentTypes_CreateColumnLinks
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: contentType-id
          in: path
          description: 'key: id of contentType'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contentType
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.columnLink'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.columnLink'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/sites/{site-id}/contentTypes/{contentType-id}/columnLinks/{columnLink-id}':
    get:
      tags:
        - groups.site
      summary: Get columnLinks from groups
      operationId: groups.sites.contentTypes_GetColumnLinks
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: contentType-id
          in: path
          description: 'key: id of contentType'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contentType
        - name: columnLink-id
          in: path
          description: 'key: id of columnLink'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: columnLink
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.columnLink'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.site
      summary: Update the navigation property columnLinks in groups
      operationId: groups.sites.contentTypes_UpdateColumnLinks
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: contentType-id
          in: path
          description: 'key: id of contentType'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contentType
        - name: columnLink-id
          in: path
          description: 'key: id of columnLink'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: columnLink
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.columnLink'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.site
      summary: Delete navigation property columnLinks for groups
      operationId: groups.sites.contentTypes_DeleteColumnLinks
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: contentType-id
          in: path
          description: 'key: id of contentType'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contentType
        - name: columnLink-id
          in: path
          description: 'key: id of columnLink'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: columnLink
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/sites/{site-id}/contentTypes/{contentType-id}/columnPositions':
    get:
      tags:
        - groups.site
      summary: Get columnPositions from groups
      operationId: groups.sites.contentTypes_ListColumnPositions
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: contentType-id
          in: path
          description: 'key: id of contentType'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contentType
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - boolean
                - boolean desc
                - calculated
                - calculated desc
                - choice
                - choice desc
                - columnGroup
                - columnGroup desc
                - contentApprovalStatus
                - contentApprovalStatus desc
                - currency
                - currency desc
                - dateTime
                - dateTime desc
                - defaultValue
                - defaultValue desc
                - description
                - description desc
                - displayName
                - displayName desc
                - enforceUniqueValues
                - enforceUniqueValues desc
                - geolocation
                - geolocation desc
                - hidden
                - hidden desc
                - hyperlinkOrPicture
                - hyperlinkOrPicture desc
                - indexed
                - indexed desc
                - isDeletable
                - isDeletable desc
                - isReorderable
                - isReorderable desc
                - isSealed
                - isSealed desc
                - lookup
                - lookup desc
                - name
                - name desc
                - number
                - number desc
                - personOrGroup
                - personOrGroup desc
                - propagateChanges
                - propagateChanges desc
                - readOnly
                - readOnly desc
                - required
                - required desc
                - term
                - term desc
                - text
                - text desc
                - thumbnail
                - thumbnail desc
                - type
                - type desc
                - validation
                - validation desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - boolean
                - calculated
                - choice
                - columnGroup
                - contentApprovalStatus
                - currency
                - dateTime
                - defaultValue
                - description
                - displayName
                - enforceUniqueValues
                - geolocation
                - hidden
                - hyperlinkOrPicture
                - indexed
                - isDeletable
                - isReorderable
                - isSealed
                - lookup
                - name
                - number
                - personOrGroup
                - propagateChanges
                - readOnly
                - required
                - term
                - text
                - thumbnail
                - type
                - validation
                - sourceColumn
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sourceColumn
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.columnDefinitionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/sites/{site-id}/contentTypes/{contentType-id}/columnPositions/{columnDefinition-id}':
    get:
      tags:
        - groups.site
      summary: Get columnPositions from groups
      operationId: groups.sites.contentTypes_GetColumnPositions
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: contentType-id
          in: path
          description: 'key: id of contentType'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contentType
        - name: columnDefinition-id
          in: path
          description: 'key: id of columnDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: columnDefinition
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - boolean
                - calculated
                - choice
                - columnGroup
                - contentApprovalStatus
                - currency
                - dateTime
                - defaultValue
                - description
                - displayName
                - enforceUniqueValues
                - geolocation
                - hidden
                - hyperlinkOrPicture
                - indexed
                - isDeletable
                - isReorderable
                - isSealed
                - lookup
                - name
                - number
                - personOrGroup
                - propagateChanges
                - readOnly
                - required
                - term
                - text
                - thumbnail
                - type
                - validation
                - sourceColumn
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sourceColumn
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.columnDefinition'
          links:
            sourceColumn:
              operationId: groups.sites.contentTypes.ColumnPositions.GetSourceColumn
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
                contentType-id: $request.path.contentType-id
                columnDefinition-id: $request.path.columnDefinition-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/sites/{site-id}/contentTypes/{contentType-id}/columns':
    get:
      tags:
        - groups.site
      summary: Get columns from groups
      operationId: groups.sites.contentTypes_ListColumns
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: contentType-id
          in: path
          description: 'key: id of contentType'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contentType
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - boolean
                - boolean desc
                - calculated
                - calculated desc
                - choice
                - choice desc
                - columnGroup
                - columnGroup desc
                - contentApprovalStatus
                - contentApprovalStatus desc
                - currency
                - currency desc
                - dateTime
                - dateTime desc
                - defaultValue
                - defaultValue desc
                - description
                - description desc
                - displayName
                - displayName desc
                - enforceUniqueValues
                - enforceUniqueValues desc
                - geolocation
                - geolocation desc
                - hidden
                - hidden desc
                - hyperlinkOrPicture
                - hyperlinkOrPicture desc
                - indexed
                - indexed desc
                - isDeletable
                - isDeletable desc
                - isReorderable
                - isReorderable desc
                - isSealed
                - isSealed desc
                - lookup
                - lookup desc
                - name
                - name desc
                - number
                - number desc
                - personOrGroup
                - personOrGroup desc
                - propagateChanges
                - propagateChanges desc
                - readOnly
                - readOnly desc
                - required
                - required desc
                - term
                - term desc
                - text
                - text desc
                - thumbnail
                - thumbnail desc
                - type
                - type desc
                - validation
                - validation desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - boolean
                - calculated
                - choice
                - columnGroup
                - contentApprovalStatus
                - currency
                - dateTime
                - defaultValue
                - description
                - displayName
                - enforceUniqueValues
                - geolocation
                - hidden
                - hyperlinkOrPicture
                - indexed
                - isDeletable
                - isReorderable
                - isSealed
                - lookup
                - name
                - number
                - personOrGroup
                - propagateChanges
                - readOnly
                - required
                - term
                - text
                - thumbnail
                - type
                - validation
                - sourceColumn
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sourceColumn
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.columnDefinitionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.site
      summary: Create new navigation property to columns for groups
      operationId: groups.sites.contentTypes_CreateColumns
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: contentType-id
          in: path
          description: 'key: id of contentType'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contentType
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.columnDefinition'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.columnDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/sites/{site-id}/contentTypes/{contentType-id}/columns/{columnDefinition-id}':
    get:
      tags:
        - groups.site
      summary: Get columns from groups
      operationId: groups.sites.contentTypes_GetColumns
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: contentType-id
          in: path
          description: 'key: id of contentType'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contentType
        - name: columnDefinition-id
          in: path
          description: 'key: id of columnDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: columnDefinition
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - boolean
                - calculated
                - choice
                - columnGroup
                - contentApprovalStatus
                - currency
                - dateTime
                - defaultValue
                - description
                - displayName
                - enforceUniqueValues
                - geolocation
                - hidden
                - hyperlinkOrPicture
                - indexed
                - isDeletable
                - isReorderable
                - isSealed
                - lookup
                - name
                - number
                - personOrGroup
                - propagateChanges
                - readOnly
                - required
                - term
                - text
                - thumbnail
                - type
                - validation
                - sourceColumn
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sourceColumn
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.columnDefinition'
          links:
            sourceColumn:
              operationId: groups.sites.contentTypes.Columns.GetSourceColumn
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
                contentType-id: $request.path.contentType-id
                columnDefinition-id: $request.path.columnDefinition-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.site
      summary: Update the navigation property columns in groups
      operationId: groups.sites.contentTypes_UpdateColumns
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: contentType-id
          in: path
          description: 'key: id of contentType'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contentType
        - name: columnDefinition-id
          in: path
          description: 'key: id of columnDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: columnDefinition
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.columnDefinition'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.site
      summary: Delete navigation property columns for groups
      operationId: groups.sites.contentTypes_DeleteColumns
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: contentType-id
          in: path
          description: 'key: id of contentType'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contentType
        - name: columnDefinition-id
          in: path
          description: 'key: id of columnDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: columnDefinition
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/sites/{site-id}/contentTypes/{contentType-id}/columns/{columnDefinition-id}/sourceColumn':
    get:
      tags:
        - groups.site
      summary: Get sourceColumn from groups
      operationId: groups.sites.contentTypes.columns_GetSourceColumn
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: contentType-id
          in: path
          description: 'key: id of contentType'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contentType
        - name: columnDefinition-id
          in: path
          description: 'key: id of columnDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: columnDefinition
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - boolean
                - calculated
                - choice
                - columnGroup
                - contentApprovalStatus
                - currency
                - dateTime
                - defaultValue
                - description
                - displayName
                - enforceUniqueValues
                - geolocation
                - hidden
                - hyperlinkOrPicture
                - indexed
                - isDeletable
                - isReorderable
                - isSealed
                - lookup
                - name
                - number
                - personOrGroup
                - propagateChanges
                - readOnly
                - required
                - term
                - text
                - thumbnail
                - type
                - validation
                - sourceColumn
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sourceColumn
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.columnDefinition'
          links:
            sourceColumn:
              operationId: groups.sites.contentTypes.columns.SourceColumn.GetSourceColumn
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
                contentType-id: $request.path.contentType-id
                columnDefinition-id: $request.path.columnDefinition-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/sites/{site-id}/drive':
    get:
      tags:
        - groups.site
      summary: Get drive from groups
      operationId: groups.sites_GetDrive
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - driveType
                - owner
                - quota
                - sharePointIds
                - system
                - createdByUser
                - lastModifiedByUser
                - bundles
                - following
                - items
                - list
                - root
                - special
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - bundles
                - following
                - items
                - list
                - root
                - special
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.drive'
          links:
            createdByUser:
              operationId: groups.sites.Drive.GetCreatedByUser
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
            lastModifiedByUser:
              operationId: groups.sites.Drive.GetLastModifiedByUser
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
            bundles:
              operationId: groups.sites.Drive.ListBundles
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
            following:
              operationId: groups.sites.Drive.ListFollowing
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
            items:
              operationId: groups.sites.Drive.ListItems
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
            list:
              operationId: groups.sites.Drive.GetList
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
            root:
              operationId: groups.sites.Drive.GetRoot
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
            special:
              operationId: groups.sites.Drive.ListSpecial
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/sites/{site-id}/drives':
    get:
      tags:
        - groups.site
      summary: Get drives from groups
      operationId: groups.sites_ListDrives
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - eTag
                - eTag desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - name
                - name desc
                - parentReference
                - parentReference desc
                - webUrl
                - webUrl desc
                - driveType
                - driveType desc
                - owner
                - owner desc
                - quota
                - quota desc
                - sharePointIds
                - sharePointIds desc
                - system
                - system desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - driveType
                - owner
                - quota
                - sharePointIds
                - system
                - createdByUser
                - lastModifiedByUser
                - bundles
                - following
                - items
                - list
                - root
                - special
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - bundles
                - following
                - items
                - list
                - root
                - special
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.driveCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/sites/{site-id}/drives/{drive-id}':
    get:
      tags:
        - groups.site
      summary: Get drives from groups
      operationId: groups.sites_GetDrives
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - driveType
                - owner
                - quota
                - sharePointIds
                - system
                - createdByUser
                - lastModifiedByUser
                - bundles
                - following
                - items
                - list
                - root
                - special
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - bundles
                - following
                - items
                - list
                - root
                - special
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.drive'
          links:
            createdByUser:
              operationId: groups.sites.Drives.GetCreatedByUser
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
                drive-id: $request.path.drive-id
            lastModifiedByUser:
              operationId: groups.sites.Drives.GetLastModifiedByUser
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
                drive-id: $request.path.drive-id
            bundles:
              operationId: groups.sites.Drives.ListBundles
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
                drive-id: $request.path.drive-id
            following:
              operationId: groups.sites.Drives.ListFollowing
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
                drive-id: $request.path.drive-id
            items:
              operationId: groups.sites.Drives.ListItems
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
                drive-id: $request.path.drive-id
            list:
              operationId: groups.sites.Drives.GetList
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
                drive-id: $request.path.drive-id
            root:
              operationId: groups.sites.Drives.GetRoot
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
                drive-id: $request.path.drive-id
            special:
              operationId: groups.sites.Drives.ListSpecial
              parameters:
                group-id: $request.path.group-id
                site-id: $request.path.site-id
                drive-id: $request.path.drive-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/sites/{site-id}/externalColumns':
    get:
      tags:
        - groups.site
      summary: Get externalColumns from groups
      operationId: groups.sites_ListExternalColumns
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - boolean
                - boolean desc
                - calculated
                - calculated desc
                - choice
                - choice desc
                - columnGroup
                - columnGroup desc
                - contentApprovalStatus
                - contentApprovalStatus desc
                - currency
                - currency desc
                - dateTime
                - dateTime desc
                - defaultValue
                - defaultValue desc
                - description
                - description desc
                - displayName
                - displayName desc
                - enforceUniqueValues
                - enforceUniqueValues desc
                - geolocation
                - geolocation desc
                - hidden
                - hidden desc
                - hyperlinkOrPicture
                - hyperlinkOrPicture desc
                - indexed
                - indexed desc
                - isDeletable
                - isDeletable desc
                - isReorderable
                - isReorderable desc
                - isSealed
                - isSealed desc
                - lookup
                - lookup desc
                - name
                - name desc
                - number
                - number desc
                - personOrGroup
                - personOrGroup desc
                - propagateChanges
                - propagateChanges desc
                - readOnly
                - readOnly desc
                - required
                - required desc
                - term
                - term desc
                - text
                - text desc
                - thumbnail
                - thumbnail desc
                - type
                - type desc
                - validation
                - validation desc
[...]
