openapi: 3.0.1
info:
  title: Users.Actions
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  '/users/{user-id}/calendar/calendarView/{event-id}/attachments/microsoft.graph.createUploadSession':
    post:
      tags:
        - users.Actions
      summary: Invoke action createUploadSession
      operationId: users.calendar.calendarView.attachments_createUploadSession
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                AttachmentItem:
                  $ref: '#/components/schemas/microsoft.graph.attachmentItem'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.uploadSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/calendarView/{event-id}/instances/{event-id1}/attachments/microsoft.graph.createUploadSession':
    post:
      tags:
        - users.Actions
      summary: Invoke action createUploadSession
      operationId: users.calendar.calendarView.instances.attachments_createUploadSession
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                AttachmentItem:
                  $ref: '#/components/schemas/microsoft.graph.attachmentItem'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.uploadSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/calendarView/{event-id}/instances/{event-id1}/microsoft.graph.accept':
    post:
      tags:
        - users.Actions
      summary: Invoke action accept
      operationId: users.calendar.calendarView.instances_accept
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/calendarView/{event-id}/instances/{event-id1}/microsoft.graph.cancel':
    post:
      tags:
        - users.Actions
      summary: Invoke action cancel
      operationId: users.calendar.calendarView.instances_cancel
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/calendarView/{event-id}/instances/{event-id1}/microsoft.graph.decline':
    post:
      tags:
        - users.Actions
      summary: Invoke action decline
      operationId: users.calendar.calendarView.instances_decline
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                ProposedNewTime:
                  $ref: '#/components/schemas/microsoft.graph.timeSlot'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/calendarView/{event-id}/instances/{event-id1}/microsoft.graph.dismissReminder':
    post:
      tags:
        - users.Actions
      summary: Invoke action dismissReminder
      operationId: users.calendar.calendarView.instances_dismissReminder
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/calendarView/{event-id}/instances/{event-id1}/microsoft.graph.forward':
    post:
      tags:
        - users.Actions
      summary: Invoke action forward
      operationId: users.calendar.calendarView.instances_forward
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ToRecipients:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.recipient'
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/calendarView/{event-id}/instances/{event-id1}/microsoft.graph.snoozeReminder':
    post:
      tags:
        - users.Actions
      summary: Invoke action snoozeReminder
      operationId: users.calendar.calendarView.instances_snoozeReminder
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                NewReminderTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/calendarView/{event-id}/instances/{event-id1}/microsoft.graph.tentativelyAccept':
    post:
      tags:
        - users.Actions
      summary: Invoke action tentativelyAccept
      operationId: users.calendar.calendarView.instances_tentativelyAccept
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                ProposedNewTime:
                  $ref: '#/components/schemas/microsoft.graph.timeSlot'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/calendarView/{event-id}/microsoft.graph.accept':
    post:
      tags:
        - users.Actions
      summary: Invoke action accept
      operationId: users.calendar.calendarView_accept
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/calendarView/{event-id}/microsoft.graph.cancel':
    post:
      tags:
        - users.Actions
      summary: Invoke action cancel
      operationId: users.calendar.calendarView_cancel
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/calendarView/{event-id}/microsoft.graph.decline':
    post:
      tags:
        - users.Actions
      summary: Invoke action decline
      operationId: users.calendar.calendarView_decline
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                ProposedNewTime:
                  $ref: '#/components/schemas/microsoft.graph.timeSlot'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/calendarView/{event-id}/microsoft.graph.dismissReminder':
    post:
      tags:
        - users.Actions
      summary: Invoke action dismissReminder
      operationId: users.calendar.calendarView_dismissReminder
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/calendarView/{event-id}/microsoft.graph.forward':
    post:
      tags:
        - users.Actions
      summary: Invoke action forward
      operationId: users.calendar.calendarView_forward
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ToRecipients:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.recipient'
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/calendarView/{event-id}/microsoft.graph.snoozeReminder':
    post:
      tags:
        - users.Actions
      summary: Invoke action snoozeReminder
      operationId: users.calendar.calendarView_snoozeReminder
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                NewReminderTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/calendarView/{event-id}/microsoft.graph.tentativelyAccept':
    post:
      tags:
        - users.Actions
      summary: Invoke action tentativelyAccept
      operationId: users.calendar.calendarView_tentativelyAccept
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                ProposedNewTime:
                  $ref: '#/components/schemas/microsoft.graph.timeSlot'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/events/{event-id}/attachments/microsoft.graph.createUploadSession':
    post:
      tags:
        - users.Actions
      summary: Invoke action createUploadSession
      operationId: users.calendar.events.attachments_createUploadSession
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                AttachmentItem:
                  $ref: '#/components/schemas/microsoft.graph.attachmentItem'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.uploadSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/events/{event-id}/instances/{event-id1}/attachments/microsoft.graph.createUploadSession':
    post:
      tags:
        - users.Actions
      summary: Invoke action createUploadSession
      operationId: users.calendar.events.instances.attachments_createUploadSession
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                AttachmentItem:
                  $ref: '#/components/schemas/microsoft.graph.attachmentItem'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.uploadSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/events/{event-id}/instances/{event-id1}/microsoft.graph.accept':
    post:
      tags:
        - users.Actions
      summary: Invoke action accept
      operationId: users.calendar.events.instances_accept
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/events/{event-id}/instances/{event-id1}/microsoft.graph.cancel':
    post:
      tags:
        - users.Actions
      summary: Invoke action cancel
      operationId: users.calendar.events.instances_cancel
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/events/{event-id}/instances/{event-id1}/microsoft.graph.decline':
    post:
      tags:
        - users.Actions
      summary: Invoke action decline
      operationId: users.calendar.events.instances_decline
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                ProposedNewTime:
                  $ref: '#/components/schemas/microsoft.graph.timeSlot'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/events/{event-id}/instances/{event-id1}/microsoft.graph.dismissReminder':
    post:
      tags:
        - users.Actions
      summary: Invoke action dismissReminder
      operationId: users.calendar.events.instances_dismissReminder
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/events/{event-id}/instances/{event-id1}/microsoft.graph.forward':
    post:
      tags:
        - users.Actions
      summary: Invoke action forward
      operationId: users.calendar.events.instances_forward
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ToRecipients:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.recipient'
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/events/{event-id}/instances/{event-id1}/microsoft.graph.snoozeReminder':
    post:
      tags:
        - users.Actions
      summary: Invoke action snoozeReminder
      operationId: users.calendar.events.instances_snoozeReminder
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                NewReminderTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/events/{event-id}/instances/{event-id1}/microsoft.graph.tentativelyAccept':
    post:
      tags:
        - users.Actions
      summary: Invoke action tentativelyAccept
      operationId: users.calendar.events.instances_tentativelyAccept
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                ProposedNewTime:
                  $ref: '#/components/schemas/microsoft.graph.timeSlot'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/events/{event-id}/microsoft.graph.accept':
    post:
      tags:
        - users.Actions
      summary: Invoke action accept
      operationId: users.calendar.events_accept
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/events/{event-id}/microsoft.graph.cancel':
    post:
      tags:
        - users.Actions
      summary: Invoke action cancel
      operationId: users.calendar.events_cancel
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/events/{event-id}/microsoft.graph.decline':
    post:
      tags:
        - users.Actions
      summary: Invoke action decline
      operationId: users.calendar.events_decline
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                ProposedNewTime:
                  $ref: '#/components/schemas/microsoft.graph.timeSlot'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/events/{event-id}/microsoft.graph.dismissReminder':
    post:
      tags:
        - users.Actions
      summary: Invoke action dismissReminder
      operationId: users.calendar.events_dismissReminder
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/events/{event-id}/microsoft.graph.forward':
    post:
      tags:
        - users.Actions
      summary: Invoke action forward
      operationId: users.calendar.events_forward
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ToRecipients:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.recipient'
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/events/{event-id}/microsoft.graph.snoozeReminder':
    post:
      tags:
        - users.Actions
      summary: Invoke action snoozeReminder
      operationId: users.calendar.events_snoozeReminder
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                NewReminderTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/events/{event-id}/microsoft.graph.tentativelyAccept':
    post:
      tags:
        - users.Actions
      summary: Invoke action tentativelyAccept
      operationId: users.calendar.events_tentativelyAccept
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                ProposedNewTime:
                  $ref: '#/components/schemas/microsoft.graph.timeSlot'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendar/microsoft.graph.getSchedule':
    post:
      tags:
        - users.Actions
      summary: Invoke action getSchedule
      operationId: users.calendar_getSchedule
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Schedules:
                  type: array
                  items:
                    type: string
                    nullable: true
                EndTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
                StartTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
                AvailabilityViewInterval:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of calendar
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.scheduleInformation'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/{event-id}/attachments/microsoft.graph.createUploadSession':
    post:
      tags:
        - users.Actions
      summary: Invoke action createUploadSession
      operationId: users.calendarGroups.calendars.calendarView.attachments_createUploadSession
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                AttachmentItem:
                  $ref: '#/components/schemas/microsoft.graph.attachmentItem'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.uploadSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/{event-id}/instances/{event-id1}/attachments/microsoft.graph.createUploadSession':
    post:
      tags:
        - users.Actions
      summary: Invoke action createUploadSession
      operationId: users.calendarGroups.calendars.calendarView.instances.attachments_createUploadSession
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                AttachmentItem:
                  $ref: '#/components/schemas/microsoft.graph.attachmentItem'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.uploadSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/{event-id}/instances/{event-id1}/microsoft.graph.accept':
    post:
      tags:
        - users.Actions
      summary: Invoke action accept
      operationId: users.calendarGroups.calendars.calendarView.instances_accept
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/{event-id}/instances/{event-id1}/microsoft.graph.cancel':
    post:
      tags:
        - users.Actions
      summary: Invoke action cancel
      operationId: users.calendarGroups.calendars.calendarView.instances_cancel
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/{event-id}/instances/{event-id1}/microsoft.graph.decline':
    post:
      tags:
        - users.Actions
      summary: Invoke action decline
      operationId: users.calendarGroups.calendars.calendarView.instances_decline
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                ProposedNewTime:
                  $ref: '#/components/schemas/microsoft.graph.timeSlot'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/{event-id}/instances/{event-id1}/microsoft.graph.dismissReminder':
    post:
      tags:
        - users.Actions
      summary: Invoke action dismissReminder
      operationId: users.calendarGroups.calendars.calendarView.instances_dismissReminder
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/{event-id}/instances/{event-id1}/microsoft.graph.forward':
    post:
      tags:
        - users.Actions
      summary: Invoke action forward
      operationId: users.calendarGroups.calendars.calendarView.instances_forward
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ToRecipients:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.recipient'
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/{event-id}/instances/{event-id1}/microsoft.graph.snoozeReminder':
    post:
      tags:
        - users.Actions
      summary: Invoke action snoozeReminder
      operationId: users.calendarGroups.calendars.calendarView.instances_snoozeReminder
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                NewReminderTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/{event-id}/instances/{event-id1}/microsoft.graph.tentativelyAccept':
    post:
      tags:
        - users.Actions
      summary: Invoke action tentativelyAccept
      operationId: users.calendarGroups.calendars.calendarView.instances_tentativelyAccept
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                ProposedNewTime:
                  $ref: '#/components/schemas/microsoft.graph.timeSlot'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/{event-id}/microsoft.graph.accept':
    post:
      tags:
        - users.Actions
      summary: Invoke action accept
      operationId: users.calendarGroups.calendars.calendarView_accept
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/{event-id}/microsoft.graph.cancel':
    post:
      tags:
        - users.Actions
      summary: Invoke action cancel
      operationId: users.calendarGroups.calendars.calendarView_cancel
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/{event-id}/microsoft.graph.decline':
    post:
      tags:
        - users.Actions
      summary: Invoke action decline
      operationId: users.calendarGroups.calendars.calendarView_decline
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                ProposedNewTime:
                  $ref: '#/components/schemas/microsoft.graph.timeSlot'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/{event-id}/microsoft.graph.dismissReminder':
    post:
      tags:
        - users.Actions
      summary: Invoke action dismissReminder
      operationId: users.calendarGroups.calendars.calendarView_dismissReminder
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/{event-id}/microsoft.graph.forward':
    post:
      tags:
        - users.Actions
      summary: Invoke action forward
      operationId: users.calendarGroups.calendars.calendarView_forward
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ToRecipients:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.recipient'
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/{event-id}/microsoft.graph.snoozeReminder':
    post:
      tags:
        - users.Actions
      summary: Invoke action snoozeReminder
      operationId: users.calendarGroups.calendars.calendarView_snoozeReminder
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                NewReminderTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/{event-id}/microsoft.graph.tentativelyAccept':
    post:
      tags:
        - users.Actions
      summary: Invoke action tentativelyAccept
      operationId: users.calendarGroups.calendars.calendarView_tentativelyAccept
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                ProposedNewTime:
                  $ref: '#/components/schemas/microsoft.graph.timeSlot'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/attachments/microsoft.graph.createUploadSession':
    post:
      tags:
        - users.Actions
      summary: Invoke action createUploadSession
      operationId: users.calendarGroups.calendars.events.attachments_createUploadSession
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                AttachmentItem:
                  $ref: '#/components/schemas/microsoft.graph.attachmentItem'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.uploadSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/instances/{event-id1}/attachments/microsoft.graph.createUploadSession':
    post:
      tags:
        - users.Actions
      summary: Invoke action createUploadSession
      operationId: users.calendarGroups.calendars.events.instances.attachments_createUploadSession
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                AttachmentItem:
                  $ref: '#/components/schemas/microsoft.graph.attachmentItem'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.uploadSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/instances/{event-id1}/microsoft.graph.accept':
    post:
      tags:
        - users.Actions
      summary: Invoke action accept
      operationId: users.calendarGroups.calendars.events.instances_accept
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/instances/{event-id1}/microsoft.graph.cancel':
    post:
      tags:
        - users.Actions
      summary: Invoke action cancel
      operationId: users.calendarGroups.calendars.events.instances_cancel
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/instances/{event-id1}/microsoft.graph.decline':
    post:
      tags:
        - users.Actions
      summary: Invoke action decline
      operationId: users.calendarGroups.calendars.events.instances_decline
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                ProposedNewTime:
                  $ref: '#/components/schemas/microsoft.graph.timeSlot'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/instances/{event-id1}/microsoft.graph.dismissReminder':
    post:
      tags:
        - users.Actions
      summary: Invoke action dismissReminder
      operationId: users.calendarGroups.calendars.events.instances_dismissReminder
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/instances/{event-id1}/microsoft.graph.forward':
    post:
      tags:
        - users.Actions
      summary: Invoke action forward
      operationId: users.calendarGroups.calendars.events.instances_forward
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ToRecipients:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.recipient'
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/instances/{event-id1}/microsoft.graph.snoozeReminder':
    post:
      tags:
        - users.Actions
      summary: Invoke action snoozeReminder
      operationId: users.calendarGroups.calendars.events.instances_snoozeReminder
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                NewReminderTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/instances/{event-id1}/microsoft.graph.tentativelyAccept':
    post:
      tags:
        - users.Actions
      summary: Invoke action tentativelyAccept
      operationId: users.calendarGroups.calendars.events.instances_tentativelyAccept
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                ProposedNewTime:
                  $ref: '#/components/schemas/microsoft.graph.timeSlot'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/microsoft.graph.accept':
    post:
      tags:
        - users.Actions
      summary: Invoke action accept
      operationId: users.calendarGroups.calendars.events_accept
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/microsoft.graph.cancel':
    post:
      tags:
        - users.Actions
      summary: Invoke action cancel
      operationId: users.calendarGroups.calendars.events_cancel
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/microsoft.graph.decline':
    post:
      tags:
        - users.Actions
      summary: Invoke action decline
      operationId: users.calendarGroups.calendars.events_decline
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                ProposedNewTime:
                  $ref: '#/components/schemas/microsoft.graph.timeSlot'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/microsoft.graph.dismissReminder':
    post:
      tags:
        - users.Actions
      summary: Invoke action dismissReminder
      operationId: users.calendarGroups.calendars.events_dismissReminder
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/microsoft.graph.forward':
    post:
      tags:
        - users.Actions
      summary: Invoke action forward
      operationId: users.calendarGroups.calendars.events_forward
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ToRecipients:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.recipient'
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/microsoft.graph.snoozeReminder':
    post:
      tags:
        - users.Actions
      summary: Invoke action snoozeReminder
      operationId: users.calendarGroups.calendars.events_snoozeReminder
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                NewReminderTime:
[...]
